dev-bucket/directus-hook-v9/3.json
{"externalControllerServices":{"12034f34-dffa-376e-a945-9b3f545f39ca":{"identifier":"12034f34-dffa-376e-a945-9b3f545f39ca","name":"StandardHttpContextMap"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"eb26dc6e-de99-30e4-8dfc-cf20bc68e6ef","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"73d87154-4278-3189-be15-58d5124ee6b7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"e8f04a3f-bc64-31e2-8ae5-7d67793c256d","name":"HandleHttpRequest","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"11f9642e-2b65-39cb-aa6b-44575a7fc131","name":"put_dynamodb","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"5d223fbc-57fd-37e9-b196-039d97d33caf","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"17fc4130-e299-3565-aa72-fb6210320e73","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"af754dac-b807-32b9-8fda-8d75e4dae856","name":"start_deletion","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"45e5c407-9ef6-35fe-aab2-2a917b771e7c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["soft-delete","deleted"],"source":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"17fc4130-e299-3565-aa72-fb6210320e73","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"17fc4130-e299-3565-aa72-fb6210320e73","name":"RouteOnAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"3120f7c0-9701-3ff6-95e8-8df0393c9eb9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"3e384134-9798-3680-b7c6-3e579acac887","name":"HandleHttpResponse","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"3e384134-9798-3680-b7c6-3e579acac887","name":"HandleHttpResponse","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"900eda3b-d291-3af4-bc24-b446ac791645","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"eb26dc6e-de99-30e4-8dfc-cf20bc68e6ef","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"debae074-9636-3cc0-91a4-08734eaf412d","inputPorts":[],"labels":[],"name":"Directus Hook","outputPorts":[{"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"af754dac-b807-32b9-8fda-8d75e4dae856","name":"start_deletion","position":{"x":736.0,"y":1016.0},"type":"OUTPUT_PORT"},{"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"11f9642e-2b65-39cb-aa6b-44575a7fc131","name":"put_dynamodb","position":{"x":272.0,"y":1008.0},"type":"OUTPUT_PORT"}],"position":{"x":920.0,"y":264.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":["failure","unmatched"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"eb26dc6e-de99-30e4-8dfc-cf20bc68e6ef","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":504.0,"y":336.0},"properties":{"Destination":"flowfile-attribute","itemId":"$.itemId","responseKey":"$.responseKey","actionType":"$.actionType","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","tableName":"$.tableName","status":"$.status"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"itemId":{"displayName":"itemId","identifiesControllerService":false,"name":"itemId","sensitive":false},"responseKey":{"displayName":"responseKey","identifiesControllerService":false,"name":"responseKey","sensitive":false},"actionType":{"displayName":"actionType","identifiesControllerService":false,"name":"actionType","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"tableName":{"displayName":"tableName","identifiesControllerService":false,"name":"tableName","sensitive":false},"status":{"displayName":"status","identifiesControllerService":false,"name":"status","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"17fc4130-e299-3565-aa72-fb6210320e73","name":"RouteOnAttribute","penaltyDuration":"30 sec","position":{"x":488.0,"y":768.0},"properties":{"soft-delete":"${status:equals('deleted')}","Routing Strategy":"Route to Property name","deleted":"${actionType:equals('delete')}"},"propertyDescriptors":{"soft-delete":{"displayName":"soft-delete","identifiesControllerService":false,"name":"soft-delete","sensitive":false},"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"deleted":{"displayName":"deleted","identifiesControllerService":false,"name":"deleted","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"e8f04a3f-bc64-31e2-8ae5-7d67793c256d","name":"HandleHttpRequest","penaltyDuration":"30 sec","position":{"x":512.0,"y":120.0},"properties":{"multipart-request-max-size":"1 MB","Allow POST":"true","Default URL Character Set":"UTF-8","Allow DELETE":"true","container-queue-size":"50","HTTP Context Map":"12034f34-dffa-376e-a945-9b3f545f39ca","multipart-read-buffer-size":"512 KB","Allow OPTIONS":"false","Allowed Paths":"/webhook","Allow GET":"true","Allow HEAD":"false","Listening Port":"8888","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"displayName":"Multipart Request Max Size","identifiesControllerService":false,"name":"multipart-request-max-size","sensitive":false},"Allow POST":{"displayName":"Allow POST","identifiesControllerService":false,"name":"Allow POST","sensitive":false},"Hostname":{"displayName":"Hostname","identifiesControllerService":false,"name":"Hostname","sensitive":false},"Default URL Character Set":{"displayName":"Default URL Character Set","identifiesControllerService":false,"name":"Default URL Character Set","sensitive":false},"Allow DELETE":{"displayName":"Allow DELETE","identifiesControllerService":false,"name":"Allow DELETE","sensitive":false},"Additional HTTP Methods":{"displayName":"Additional HTTP Methods","identifiesControllerService":false,"name":"Additional HTTP Methods","sensitive":false},"container-queue-size":{"displayName":"Container Queue Size","identifiesControllerService":false,"name":"container-queue-size","sensitive":false},"HTTP Context Map":{"displayName":"HTTP Context Map","identifiesControllerService":true,"name":"HTTP Context Map","sensitive":false},"multipart-read-buffer-size":{"displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"name":"multipart-read-buffer-size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Allow OPTIONS":{"displayName":"Allow OPTIONS","identifiesControllerService":false,"name":"Allow OPTIONS","sensitive":false},"Allowed Paths":{"displayName":"Allowed Paths","identifiesControllerService":false,"name":"Allowed Paths","sensitive":false},"Allow GET":{"displayName":"Allow GET","identifiesControllerService":false,"name":"Allow GET","sensitive":false},"Allow HEAD":{"displayName":"Allow HEAD","identifiesControllerService":false,"name":"Allow HEAD","sensitive":false},"Listening Port":{"displayName":"Listening Port","identifiesControllerService":false,"name":"Listening Port","sensitive":false},"Client Authentication":{"displayName":"Client Authentication","identifiesControllerService":false,"name":"Client Authentication","sensitive":false},"Allow PUT":{"displayName":"Allow PUT","identifiesControllerService":false,"name":"Allow PUT","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"debae074-9636-3cc0-91a4-08734eaf412d","identifier":"3e384134-9798-3680-b7c6-3e579acac887","name":"HandleHttpResponse","penaltyDuration":"30 sec","position":{"x":504.0,"y":560.0},"properties":{"HTTP Context Map":"12034f34-dffa-376e-a945-9b3f545f39ca","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"displayName":"HTTP Context Map","identifiesControllerService":true,"name":"HTTP Context Map","sensitive":false},"HTTP Status Code":{"displayName":"HTTP Status Code","identifiesControllerService":false,"name":"HTTP Status Code","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"admin@ipa.com","comments":"Remove unused route","timestamp":1642624236926,"version":3}}