dev-bucket/Cache_Credential_DataFlow__for_James_Tool_resourceGroup/1.json
{"externalControllerServices":{"49b277ba-0927-3840-ab6c-9ff6e61f149e":{"identifier":"49b277ba-0927-3840-ab6c-9ff6e61f149e","name":"DistributedMapCacheClientService"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"69ddbd66-99fd-396a-a0a0-f64f4476e462","instanceIdentifier":"7411384a-e07b-1ce0-c7e9-3195dfa9feb6","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"69a4bd09-a570-3e89-8be6-e7d4c0acdbb4","instanceIdentifier":"7411384c-e07b-1ce0-5a16-0af9f5e0768b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":[""],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"4a4479bf-6e39-33f5-bcab-c0855e851acb","instanceIdentifier":"8ced3708-ac04-1868-945c-876d9f572c9d","name":"start_cache_credentials","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"4597ef89-6d1c-3aae-8c83-239a428341a6","instanceIdentifier":"8ced3707-ac04-1868-75c5-3f1b9f08056d","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"f7d448d0-6189-3914-a665-5fe3d6a42e22","instanceIdentifier":"74113850-e07b-1ce0-41dd-3df9aa7f92e7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"53259383-c695-3032-bdb3-3b69e85f7d2f","instanceIdentifier":"74113848-e07b-1ce0-efe0-b012d95f14da","name":"Caching Credentials","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"e857c922-e38b-37e2-a421-b132eae2e759","instanceIdentifier":"8ced3709-ac04-1868-fd57-57e54cb5cab2","name":"credentials_cached","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"220cf7c2-5da2-31ca-bc97-8b174a07a947","instanceIdentifier":"7411384e-e07b-1ce0-fc47-b486240322e7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"153b390d-669c-3068-9bf4-ebcd0d0681c0","instanceIdentifier":"74113849-e07b-1ce0-8186-76c41a8b7ced","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"4597ef89-6d1c-3aae-8c83-239a428341a6","instanceIdentifier":"8ced3707-ac04-1868-75c5-3f1b9f08056d","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"109329be-14f2-3797-93cb-74762770717d","instanceIdentifier":"7411384f-e07b-1ce0-e839-cb35f793572a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"db0f6ac6-a75b-30f6-aa2c-6ed0841152a7","instanceIdentifier":"8ced370a-ac04-1868-b62d-8d46e3a151b4","name":"AttributesToJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"db0f6ac6-a75b-30f6-aa2c-6ed0841152a7","instanceIdentifier":"8ced370a-ac04-1868-b62d-8d46e3a151b4","name":"AttributesToJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"fed281dd-b9ed-39b3-8d48-ab98dd0842bc","instanceIdentifier":"7411384d-e07b-1ce0-2879-ff6195bb2e21","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"69ddbd66-99fd-396a-a0a0-f64f4476e462","instanceIdentifier":"7411384a-e07b-1ce0-c7e9-3195dfa9feb6","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"53259383-c695-3032-bdb3-3b69e85f7d2f","instanceIdentifier":"74113848-e07b-1ce0-efe0-b012d95f14da","name":"Caching Credentials","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"74427c07-3e1f-3fde-9554-6c93cdb9801a","instanceIdentifier":"74113852-e07b-1ce0-cd68-b6d4a4a52521","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"db0f6ac6-a75b-30f6-aa2c-6ed0841152a7","instanceIdentifier":"8ced370a-ac04-1868-b62d-8d46e3a151b4","name":"AttributesToJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"153b390d-669c-3068-9bf4-ebcd0d0681c0","instanceIdentifier":"74113849-e07b-1ce0-8186-76c41a8b7ced","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"51de24b9-fd33-3e67-a1ad-eb9484e05451","instanceIdentifier":"74113851-e07b-1ce0-90ae-d8eb45ee2abc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"53259383-c695-3032-bdb3-3b69e85f7d2f","instanceIdentifier":"74113848-e07b-1ce0-efe0-b012d95f14da","name":"Caching Credentials","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"4be2cf04-b1f6-3f0c-b6a5-1982e4c81b51","instanceIdentifier":"8ced370b-ac04-1868-75b2-4124cfed5956","name":"LogAttributeFailure","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"ad8abfb8-1719-32da-bbe2-b3a253acbc93","instanceIdentifier":"7411384b-e07b-1ce0-ae99-750b577c41f1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","id":"4597ef89-6d1c-3aae-8c83-239a428341a6","instanceIdentifier":"8ced3707-ac04-1868-75c5-3f1b9f08056d","name":"Funnel","type":"FUNNEL"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"4597ef89-6d1c-3aae-8c83-239a428341a6","instanceIdentifier":"8ced3707-ac04-1868-75c5-3f1b9f08056d","position":{"x":688.0,"y":464.0}}],"identifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"4a4479bf-6e39-33f5-bcab-c0855e851acb","instanceIdentifier":"8ced3708-ac04-1868-945c-876d9f572c9d","name":"start_cache_credentials","position":{"x":136.0,"y":-32.0},"scheduledState":"ENABLED","type":"INPUT_PORT"}],"instanceIdentifier":"8ced3706-ac04-1868-46ce-f9f7212c783c","labels":[],"name":"Cache Credential Dataflow","outputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"e857c922-e38b-37e2-a421-b132eae2e759","instanceIdentifier":"8ced3709-ac04-1868-fd57-57e54cb5cab2","name":"credentials_cached","position":{"x":136.0,"y":936.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"}],"parameterContextName":"General-Configuration","position":{"x":1223.9999275859211,"y":71.9999606897963},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"53259383-c695-3032-bdb3-3b69e85f7d2f","instanceIdentifier":"74113848-e07b-1ce0-efe0-b012d95f14da","maxBackoffPeriod":"10 mins","name":"Caching Credentials","penaltyDuration":"30 sec","position":{"x":80.0,"y":520.0},"properties":{"Cache Entry Identifier":"${DIRECTUS_CACHE_IDENTIFIER}","Cache update strategy":"replace","Distributed Cache Service":"49b277ba-0927-3840-ab6c-9ff6e61f149e","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"displayName":"Cache Entry Identifier","identifiesControllerService":false,"name":"Cache Entry Identifier","sensitive":false},"Cache update strategy":{"displayName":"Cache update strategy","identifiesControllerService":false,"name":"Cache update strategy","sensitive":false},"Distributed Cache Service":{"displayName":"Distributed Cache Service","identifiesControllerService":true,"name":"Distributed Cache Service","sensitive":false},"Max cache entry size":{"displayName":"Max cache entry size","identifiesControllerService":false,"name":"Max cache entry size","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#82a1ba"},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"db0f6ac6-a75b-30f6-aa2c-6ed0841152a7","instanceIdentifier":"8ced370a-ac04-1868-b62d-8d46e3a151b4","maxBackoffPeriod":"10 mins","name":"AttributesToJSON","penaltyDuration":"30 sec","position":{"x":80.0,"y":304.0},"properties":{"Destination":"flowfile-content","Null Value":"false","Attributes List":"email, password","Include Core Attributes":"true"},"propertyDescriptors":{"attributes-to-json-regex":{"displayName":"Attributes Regular Expression","identifiesControllerService":false,"name":"attributes-to-json-regex","sensitive":false},"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"Null Value":{"displayName":"Null Value","identifiesControllerService":false,"name":"Null Value","sensitive":false},"Attributes List":{"displayName":"Attributes List","identifiesControllerService":false,"name":"Attributes List","sensitive":false},"Include Core Attributes":{"displayName":"Include Core Attributes","identifiesControllerService":false,"name":"Include Core Attributes","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"153b390d-669c-3068-9bf4-ebcd0d0681c0","instanceIdentifier":"74113849-e07b-1ce0-8186-76c41a8b7ced","maxBackoffPeriod":"10 mins","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":80.0,"y":736.0},"properties":{"Delete Attributes Expression":"(?:email|password)","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"ERROR","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"4be2cf04-b1f6-3f0c-b6a5-1982e4c81b51","instanceIdentifier":"8ced370b-ac04-1868-75b2-4124cfed5956","maxBackoffPeriod":"10 mins","name":"LogAttributeFailure","penaltyDuration":"30 sec","position":{"x":984.0,"y":424.0},"properties":{"Log prefix":"[${log.prefix}.${responseKey}.FailureAttribute]","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log FlowFile Properties":{"displayName":"Log FlowFile Properties","identifiesControllerService":false,"name":"Log FlowFile Properties","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Output Format":{"displayName":"Output Format","identifiesControllerService":false,"name":"Output Format","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#d40b30"},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"4a26ef6f-5567-3c4f-89fe-fc8238cdcc79","identifier":"69ddbd66-99fd-396a-a0a0-f64f4476e462","instanceIdentifier":"7411384a-e07b-1ce0-c7e9-3195dfa9feb6","maxBackoffPeriod":"10 mins","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":80.0,"y":96.0},"properties":{"password":"${DIRECTUS_APP_PASSWORD}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","log.prefix":"CacheCredential","email":"${DIRECTUS_APP_LOGIN}"},"propertyDescriptors":{"password":{"displayName":"password","identifiesControllerService":false,"name":"password","sensitive":false},"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"log.prefix":{"displayName":"log.prefix","identifiesControllerService":false,"name":"log.prefix","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false},"email":{"displayName":"email","identifiesControllerService":false,"name":"email","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"GitHub base branch","name":"cc_github_base_branch","provided":false,"sensitive":false,"value":"develop"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"GitHub user","name":"cc_github_user","provided":false,"sensitive":false,"value":"filipemorgado"},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"KeyStore FileName","name":"keystore_filename","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/conf/keystore.jks"},{"description":"KeyStore Type","name":"keystore_type","provided":false,"sensitive":false,"value":"JKS"},{"description":"GitHub repository","name":"cc_github_repository","provided":false,"sensitive":false,"value":"Speech/assistant-responses-definition"},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"GitHub target file path","name":"cc_github_target_file_path","provided":false,"sensitive":false,"value":"app/src/main/res/resources/"},{"description":"","name":"RouteToAPIResources","provided":false,"sensitive":false,"value":"${clauseWaitingLocalizationAndLocal:or(${clauseWaitingLocalizationAndHybrid})}"},{"description":"Key Password","name":"key_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"GitHub token","name":"cc_github_access_token","provided":false,"sensitive":true},{"description":"","name":"clauseWaitingLocalizationAndHybrid","provided":false,"sensitive":false},{"description":"KeyStore Password","name":"keystore_password","provided":false,"sensitive":true}]}},"parameterProviders":{},"snapshotMetadata":{"author":"marcia.costa@ctw.bmwgroup.com","comments":"","timestamp":1750156649762,"version":1}}