dev-bucket/get-resource-dataflow-v9/1.json
{"externalControllerServices":{"5051f02d-d145-361f-a351-5a7383510269":{"identifier":"5051f02d-d145-361f-a351-5a7383510269","name":"StandardRestrictedSSLContextService"}},"flowContents":{"comments":"Get resource with retry policy and authentication","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"d22685fd-5446-30c5-b929-149f783a6d78","instanceIdentifier":"ed98dd24-957d-3db7-d1b6-19c3ff941796","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"215f75eb-8681-3877-9df0-608a0377b115","instanceIdentifier":"2228e247-65a6-3464-74dd-87195d1dfe4e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"8cdb0bee-7d1f-395e-aa1f-06a38290ed28","instanceIdentifier":"c1e30240-6681-3e0b-a1f2-b471c21c1d97","name":"ListenHTTP","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"09e59bd9-22b6-347d-b09f-21c3342d9173","instanceIdentifier":"609e4b3b-1a90-39cc-1ec5-b5e5f981966a","name":"LogMessage","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"a8752dc8-c5f5-30a1-bfd0-921fd775c9de","instanceIdentifier":"31e35720-3961-32cc-66eb-1cc4cd12a2d0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"27b2a3c5-c272-36f4-91a7-4662f2de7667","instanceIdentifier":"3ee70ed8-c628-35b9-27df-39d36b55ac66","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"8547ff80-c66b-3d83-8591-860c7a61052a","instanceIdentifier":"dd332ac1-1323-3c48-b61a-d9b987210f49","name":"LogMessage","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"92239621-b939-3213-82dc-5973bf061158","instanceIdentifier":"f76a655a-c5b3-31ec-b234-673d574cd29e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"83dfe7d2-cb87-33b1-a287-059b700962d4","instanceIdentifier":"35a0ce68-ec4d-3b83-8204-aa0f8050ada0","name":"patchToCmsProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"27b2a3c5-c272-36f4-91a7-4662f2de7667","instanceIdentifier":"3ee70ed8-c628-35b9-27df-39d36b55ac66","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"75bc4e35-c922-3e78-9cd9-655146c9c36d","instanceIdentifier":"cf11e907-e9a1-3819-96b2-ce1db640721c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"d22685fd-5446-30c5-b929-149f783a6d78","instanceIdentifier":"ed98dd24-957d-3db7-d1b6-19c3ff941796","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"27b2a3c5-c272-36f4-91a7-4662f2de7667","instanceIdentifier":"3ee70ed8-c628-35b9-27df-39d36b55ac66","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"8670303c-753e-3c87-ba25-c9e4ce7a3423","instanceIdentifier":"084dc0a9-572c-37ef-604c-b3c5f4a6abec","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["error"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"62e2b639-e1b1-31da-8933-1b5b74393da9","instanceIdentifier":"4b74337e-465a-338b-7b93-0636d234edee","name":"ImportXMLtoCMSProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":-152.0,"y":168.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"d22685fd-5446-30c5-b929-149f783a6d78","instanceIdentifier":"ed98dd24-957d-3db7-d1b6-19c3ff941796","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"a42da4c9-7a22-36b4-8f21-4b245a9d45be","instanceIdentifier":"abfc0e37-1c9f-3d33-fba9-0341148546ab","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["api_error"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"62e2b639-e1b1-31da-8933-1b5b74393da9","instanceIdentifier":"4b74337e-465a-338b-7b93-0636d234edee","name":"ImportXMLtoCMSProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"27b2a3c5-c272-36f4-91a7-4662f2de7667","instanceIdentifier":"3ee70ed8-c628-35b9-27df-39d36b55ac66","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"840097d1-5aa4-35b3-86dc-3b897c4fffdd","instanceIdentifier":"33ce371c-ed11-38ba-7a07-88fbbccd474f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"83dfe7d2-cb87-33b1-a287-059b700962d4","instanceIdentifier":"35a0ce68-ec4d-3b83-8204-aa0f8050ada0","name":"patchToCmsProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"83dfe7d2-cb87-33b1-a287-059b700962d4","instanceIdentifier":"35a0ce68-ec4d-3b83-8204-aa0f8050ada0","name":"patchToCmsProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"00c1ad9d-6ef5-31e8-8ed7-45002a52475b","instanceIdentifier":"9f347974-4e17-3e6d-a3cd-a52df41817b5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"62e2b639-e1b1-31da-8933-1b5b74393da9","instanceIdentifier":"4b74337e-465a-338b-7b93-0636d234edee","name":"ImportXMLtoCMSProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"62e2b639-e1b1-31da-8933-1b5b74393da9","instanceIdentifier":"4b74337e-465a-338b-7b93-0636d234edee","name":"ImportXMLtoCMSProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"942917d4-450d-347e-9797-0130babfd281","instanceIdentifier":"a48c6292-ff1a-35cb-51b6-95411ad73b22","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"ce9b3f61-1580-3b8c-9915-33df0485de0a","id":"d22685fd-5446-30c5-b929-149f783a6d78","instanceIdentifier":"ed98dd24-957d-3db7-d1b6-19c3ff941796","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"27b2a3c5-c272-36f4-91a7-4662f2de7667","instanceIdentifier":"3ee70ed8-c628-35b9-27df-39d36b55ac66","position":{"x":-1120.0,"y":264.0}}],"identifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","inputPorts":[],"instanceIdentifier":"9e2135a7-47aa-376d-7912-825b1ebbde84","labels":[],"name":"James Tool Dataflow","outputPorts":[],"parameterContextName":"General-Configuration","position":{"x":1616.0,"y":32.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-attachAuthToken-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"d22685fd-5446-30c5-b929-149f783a6d78","instanceIdentifier":"ed98dd24-957d-3db7-d1b6-19c3ff941796","maxBackoffPeriod":"10 mins","name":"attachAuthTokenProcessor","penaltyDuration":"30 sec","position":{"x":-752.0,"y":40.0},"properties":{"BASE URL":"#{directus_hostname}","PASSWORD":"#{directus_password}","USERNAME":"#{directus_user}"},"propertyDescriptors":{"BASE URL":{"displayName":"BASE URL","identifiesControllerService":false,"name":"BASE URL","sensitive":false},"PASSWORD":{"displayName":"PASSWORD","identifiesControllerService":false,"name":"PASSWORD","sensitive":true},"USERNAME":{"displayName":"USERNAME","identifiesControllerService":false,"name":"USERNAME","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.attachAuthToken.attachAuthTokenProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"8cdb0bee-7d1f-395e-aa1f-06a38290ed28","instanceIdentifier":"c1e30240-6681-3e0b-a1f2-b471c21c1d97","maxBackoffPeriod":"10 mins","name":"ListenHTTP","penaltyDuration":"30 sec","position":{"x":-752.0,"y":-168.0},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","HTTP Protocols":"HTTP_1_1","Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"requestListener","multipart-read-buffer-size":"512 KB","SSL Context Service":"5051f02d-d145-361f-a351-5a7383510269","Max Unconfirmed Flowfile Time":"60 secs","client-authentication":"NONE","Return Code":"200","Listening Port":"8081"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"name":"authorized-issuer-dn-pattern","sensitive":false},"multipart-request-max-size":{"displayName":"Multipart Request Max Size","identifiesControllerService":false,"name":"multipart-request-max-size","sensitive":false},"record-writer":{"displayName":"Record Writer","identifiesControllerService":true,"name":"record-writer","sensitive":false},"HTTP Protocols":{"displayName":"HTTP Protocols","identifiesControllerService":false,"name":"HTTP Protocols","sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"name":"HTTP Headers to receive as Attributes (Regex)","sensitive":false},"health-check-port":{"displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"name":"health-check-port","sensitive":false},"Authorized DN Pattern":{"displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"name":"Authorized DN Pattern","sensitive":false},"max-thread-pool-size":{"displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"name":"max-thread-pool-size","sensitive":false},"Base Path":{"displayName":"Base Path","identifiesControllerService":false,"name":"Base Path","sensitive":false},"multipart-read-buffer-size":{"displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"name":"multipart-read-buffer-size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Max Unconfirmed Flowfile Time":{"displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"name":"Max Unconfirmed Flowfile Time","sensitive":false},"Max Data to Receive per Second":{"displayName":"Max Data to Receive per Second","identifiesControllerService":false,"name":"Max Data to Receive per Second","sensitive":false},"client-authentication":{"displayName":"Client Authentication","identifiesControllerService":false,"name":"client-authentication","sensitive":false},"Return Code":{"displayName":"Return Code","identifiesControllerService":false,"name":"Return Code","sensitive":false},"record-reader":{"displayName":"Record Reader","identifiesControllerService":true,"name":"record-reader","sensitive":false},"Listening Port":{"displayName":"Listening Port","identifiesControllerService":false,"name":"Listening Port","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ListenHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"8547ff80-c66b-3d83-8591-860c7a61052a","instanceIdentifier":"dd332ac1-1323-3c48-b61a-d9b987210f49","maxBackoffPeriod":"10 mins","name":"LogMessage","penaltyDuration":"30 sec","position":{"x":-752.0,"y":616.0},"properties":{"log-level":"info"},"propertyDescriptors":{"log-message":{"displayName":"Log message","identifiesControllerService":false,"name":"log-message","sensitive":false},"log-level":{"displayName":"Log Level","identifiesControllerService":false,"name":"log-level","sensitive":false},"log-prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"log-prefix","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.LogMessage","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-importXMLtoCMS-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"62e2b639-e1b1-31da-8933-1b5b74393da9","instanceIdentifier":"4b74337e-465a-338b-7b93-0636d234edee","maxBackoffPeriod":"10 mins","name":"ImportXMLtoCMSProcessor","penaltyDuration":"30 sec","position":{"x":-752.0,"y":224.0},"properties":{"BASE URL":"#{directus_hostname}"},"propertyDescriptors":{"BASE URL":{"displayName":"BASE URL","identifiesControllerService":false,"name":"BASE URL","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.processor.ImportXMLtoCMSProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-patchToCMS-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"83dfe7d2-cb87-33b1-a287-059b700962d4","instanceIdentifier":"35a0ce68-ec4d-3b83-8204-aa0f8050ada0","maxBackoffPeriod":"10 mins","name":"patchToCmsProcessor","penaltyDuration":"30 sec","position":{"x":-752.0,"y":416.0},"properties":{"BASE URL":"#{directus_hostname}/items/responses"},"propertyDescriptors":{"BASE URL":{"displayName":"BASE URL","identifiesControllerService":false,"name":"BASE URL","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.patchToCMS.patchToCmsProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"ce9b3f61-1580-3b8c-9915-33df0485de0a","identifier":"09e59bd9-22b6-347d-b09f-21c3342d9173","instanceIdentifier":"609e4b3b-1a90-39cc-1ec5-b5e5f981966a","maxBackoffPeriod":"10 mins","name":"LogMessage","penaltyDuration":"30 sec","position":{"x":-1760.0,"y":224.0},"properties":{"log-level":"info"},"propertyDescriptors":{"log-message":{"displayName":"Log message","identifiesControllerService":false,"name":"log-message","sensitive":false},"log-level":{"displayName":"Log Level","identifiesControllerService":false,"name":"log-level","sensitive":false},"log-prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"log-prefix","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.LogMessage","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"","name":"directus_user","provided":false,"sensitive":false,"value":"admin@ipa.com"},{"description":"GitHub base branch","name":"cc_github_base_branch","provided":false,"sensitive":false,"value":"develop"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"GitHub user","name":"cc_github_user","provided":false,"sensitive":false,"value":"filipemorgado"},{"description":"","name":"directus_password_test","provided":false,"sensitive":true},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"KeyStore FileName","name":"keystore_filename","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/conf/keystore.jks"},{"description":"KeyStore Type","name":"keystore_type","provided":false,"sensitive":false,"value":"JKS"},{"description":"GitHub repository","name":"cc_github_repository","provided":false,"sensitive":false,"value":"Speech/assistant-responses-definition"},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"Directus Password","name":"directus_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"GitHub target file path","name":"cc_github_target_file_path","provided":false,"sensitive":false,"value":"app/src/main/res/resources/"},{"description":"","name":"RouteToAPIResources","provided":false,"sensitive":false,"value":"${clauseWaitingLocalizationAndLocal:or(${clauseWaitingLocalizationAndHybrid})}"},{"description":"Key Password","name":"key_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"GitHub token","name":"cc_github_access_token","provided":false,"sensitive":true},{"description":"","name":"clauseWaitingLocalizationAndHybrid","provided":false,"sensitive":false},{"description":"KeyStore Password","name":"keystore_password","provided":false,"sensitive":true}]}},"parameterProviders":{},"snapshotMetadata":{"author":"hephzibah.gabriel@ctw.bmwgroup.com","comments":"set directus_password in james tool flow","timestamp":1754569892687,"version":1}}