prod-bucket/cms-data-sync-v9/9.json
{"externalControllerServices":{},"flowContents":{"comments":"Main process group accountable for manage the entire flow for CDC on CMS and update the DynamoDB for all environments.\n","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1512.0,"y":352.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","id":"0349c550-7fe7-3be0-8ae8-2b7f61533ebb","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"99175460-f5c0-3fcd-8833-f7c3f89712ed","labelIndex":0,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"11f9642e-2b65-39cb-aa6b-44575a7fc131","name":"put_dynamodb","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"e57e2240-f8ea-3507-8952-440645479ae6","id":"8bbd06b6-dd09-3788-a524-31dc6f17ddfc","name":"Start Deletion Proccess","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"c21e8cfb-894e-3324-9d87-addd7d5bc675","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"groupId":"debae074-9636-3cc0-91a4-08734eaf412d","id":"af754dac-b807-32b9-8fda-8d75e4dae856","name":"start_deletion","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"ddca479d-66cc-3a70-a267-7778a821204b","id":"816d8dbd-c8e7-3199-bdf0-9ff3277e919b","name":"start_get_resource","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"1f2d47a3-9b7e-30ac-8566-fd7e2f8f7ebc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","id":"0349c550-7fe7-3be0-8ae8-2b7f61533ebb","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"b694dc6f-09af-3cd9-ab5e-435593da1a1c","id":"d9d9e767-5f40-37e0-86ff-0a027d4a08ed","name":"start_put_dynamodb","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"af9f50ee-381c-355f-bb7a-26b685d90961","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":[""],"source":{"comments":"","groupId":"ddca479d-66cc-3a70-a267-7778a821204b","id":"24cfa9b2-9074-3e11-b0cd-e43cb2fb9e41","name":"end_get_resources","type":"OUTPUT_PORT"},"zIndex":0}],"controllerServices":[{"bundle":{"artifact":"nifi-distributed-cache-services-nar","group":"org.apache.nifi","version":"1.15.3"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.3"},"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient"},{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.3"},"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient"}],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"0fe74078-843a-3823-868b-47e615bc10b0","name":"DistributedMapCacheClientService","properties":{"Server Port":"#{distributed_map_cache_port}","Server Hostname":"#{distributed_map_cache_hostname}","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Server Port":{"displayName":"Server Port","identifiesControllerService":false,"name":"Server Port","sensitive":false},"Server Hostname":{"displayName":"Server Hostname","identifiesControllerService":false,"name":"Server Hostname","sensitive":false},"Communications Timeout":{"displayName":"Communications Timeout","identifiesControllerService":false,"name":"Communications Timeout","sensitive":false}},"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService"},{"bundle":{"artifact":"nifi-distributed-cache-services-nar","group":"org.apache.nifi","version":"1.15.3"},"comments":"","componentType":"CONTROLLER_SERVICE","controllerServiceApis":[],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"95fe9973-d97c-386b-aacb-bfb92452e380","name":"DistributedMapCacheServer","properties":{"Eviction Strategy":"Least Frequently Used","maximum-read-size":"1 MB","Port":"#{distributed_map_cache_port}","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"displayName":"Eviction Strategy","identifiesControllerService":false,"name":"Eviction Strategy","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Persistence Directory":{"displayName":"Persistence Directory","identifiesControllerService":false,"name":"Persistence Directory","sensitive":false},"maximum-read-size":{"displayName":"Maximum Read Size","identifiesControllerService":false,"name":"maximum-read-size","sensitive":false},"Port":{"displayName":"Port","identifiesControllerService":false,"name":"Port","sensitive":false},"Maximum Cache Entries":{"displayName":"Maximum Cache Entries","identifiesControllerService":false,"name":"Maximum Cache Entries","sensitive":false}},"type":"org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer"},{"bundle":{"artifact":"nifi-http-context-map-nar","group":"org.apache.nifi","version":"1.15.3"},"componentType":"CONTROLLER_SERVICE","controllerServiceApis":[{"bundle":{"artifact":"nifi-standard-services-api-nar","group":"org.apache.nifi","version":"1.15.3"},"type":"org.apache.nifi.http.HttpContextMap"}],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"12034f34-dffa-376e-a945-9b3f545f39ca","name":"StandardHttpContextMap","properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"displayName":"Request Expiration","identifiesControllerService":false,"name":"Request Expiration","sensitive":false},"Maximum Outstanding Requests":{"displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"name":"Maximum Outstanding Requests","sensitive":false}},"type":"org.apache.nifi.http.StandardHttpContextMap"}],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","inputPorts":[],"labels":[],"name":"CMS-DATA-SYNC","outputPorts":[],"parameterContextName":"General-Configuration","position":{"x":0.0,"y":0.0},"processGroups":[{"comments":"Delete dynamo db pg.","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"e57e2240-f8ea-3507-8952-440645479ae6","inputPorts":[],"labels":[],"name":"DeleteDynamoDb Dataflow","outputPorts":[],"position":{"x":928.0,"y":784.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{},"versionedFlowCoordinates":{"bucketId":"aa358e7e-32a7-4fe8-bc6e-7735089de3d3","flowId":"1e7d1f75-3640-49d7-8be9-b7f5a03217de","registryUrl":"https://nifi-registry.cms.svc.cluster.local:18443","version":1}},{"comments":"Put dynamodb processor group, used for ROW and NA market.","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"b694dc6f-09af-3cd9-ab5e-435593da1a1c","inputPorts":[],"labels":[],"name":"PutDynamoDb","outputPorts":[],"position":{"x":1680.0,"y":928.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{},"versionedFlowCoordinates":{"bucketId":"aa358e7e-32a7-4fe8-bc6e-7735089de3d3","flowId":"b5e17966-9a5f-4602-9c0e-eda81adbf3ab","registryUrl":"https://nifi-registry.cms.svc.cluster.local:18443","version":4}},{"comments":"Get resource with retry policy and authentication","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"ddca479d-66cc-3a70-a267-7778a821204b","inputPorts":[],"labels":[],"name":"Get Resource Dataflow","outputPorts":[],"parameterContextName":"General-Configuration","position":{"x":1680.0,"y":600.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{},"versionedFlowCoordinates":{"bucketId":"aa358e7e-32a7-4fe8-bc6e-7735089de3d3","flowId":"044701c6-490b-4d7e-8db8-4dea2f09f4a1","registryUrl":"https://nifi-registry.cms.svc.cluster.local:18443","version":2}},{"comments":"","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"debae074-9636-3cc0-91a4-08734eaf412d","inputPorts":[],"labels":[],"name":"Directus Hook","outputPorts":[],"position":{"x":920.0,"y":264.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{},"versionedFlowCoordinates":{"bucketId":"aa358e7e-32a7-4fe8-bc6e-7735089de3d3","flowId":"2956a0a1-4649-4d2a-9c0b-9de9d170ee41","registryUrl":"https://nifi-registry.cms.svc.cluster.local:18443","version":3}}],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.15.3"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"9465e45c-7ec0-326a-b20f-7d9351efdc9b","identifier":"0349c550-7fe7-3be0-8ae8-2b7f61533ebb","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":1672.0,"y":280.0},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","custom.uri":"/revisions?filter={\"collection\":{\"_eq\":\"${tableName}\"},\"item\":{\"_eq\":\"${itemId}\"}, \"data\":{\"_contains\": \"\\\"status\\\":\\\"${status}\\\"\"}}&sort=-activity&fields[]=data","custom.jolt.config":"[{\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"data\": {\n        \"*\": {\n          \"data\": \"data[]\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"data\": {\n        \"*\": {\n          \"id\": \"=toInteger\",\n          \"modified_by\": \"=toInteger\",\n          \"version\": \"=toInteger\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"\"\n    }\n\t}, {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": \"@version[]\"\n    }\n  }, {\n    \"operation\": \"cardinality\",\n    \"spec\": {\n      \"*\": {\n        \"@\": \"ONE\"\n      }\n    }\n}]\n"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"custom.uri":{"displayName":"custom.uri","identifiesControllerService":false,"name":"custom.uri","sensitive":false},"custom.jolt.config":{"displayName":"custom.jolt.config","identifiesControllerService":false,"name":"custom.jolt.config","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"","name":"directus_db_password","provided":false,"sensitive":true},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"","name":"mysql_db_driver","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/ls-target/drivers/mysql-connector-java-8.0.23.jar"},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"","name":"directus_db_user","provided":false,"sensitive":false,"value":"root"}]}},"snapshotMetadata":{"author":"admin@ipa.com","comments":"Remove CDC and rearrange components","timestamp":1674227797672,"version":9}}