buckets/aa358e7e-32a7-4fe8-bc6e-7735089de3d3/flows/Try_GetToken_Dataflow_for_James_Tool_resourceGroup/versions/1.json
{"externalControllerServices":{"49b277ba-0927-3840-ab6c-9ff6e61f149e":{"identifier":"49b277ba-0927-3840-ab6c-9ff6e61f149e","name":"DistributedMapCacheClientService"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"2f62a61f-7b3c-361c-ae43-64caf2004001","instanceIdentifier":"8ced36fb-ac04-1868-356c-37cb97312bbb","name":"Get Cached Token","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"07ec8345-11fe-39e5-baa0-2cd27ac25beb","instanceIdentifier":"8ced36fd-ac04-1868-e028-740b18615377","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":[""],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"27fad665-c1b3-316e-b119-40d5e670fceb","instanceIdentifier":"f82839de-1986-159a-a69b-d9e23326f0cc","name":"start_try_get_token","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"a1f79401-84f0-370a-bb64-841256f7a445","instanceIdentifier":"d48e3101-42f5-17d8-0016-c9aca418bfff","name":"end_succeeded_flow","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"c517f2ff-bd16-3542-8ed3-540434ea616a","instanceIdentifier":"8ced36ff-ac04-1868-3a5c-f89951aaf0c6","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"7f403e5c-1860-3918-b4e9-2e493289644e","instanceIdentifier":"8ced36f8-ac04-1868-e71c-613f02b64d60","name":"Add token to Attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"e76459a7-5888-3f63-b558-82100393cfd2","instanceIdentifier":"8ced36f7-ac04-1868-f867-a1cf37611e1d","name":"end_failed_flow","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"37f64cc0-1ee2-3e20-9c39-578a614c178a","instanceIdentifier":"8ced3702-ac04-1868-e902-13090163fb24","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":[""],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"c808bd80-5770-3736-97bb-618277f19c20","instanceIdentifier":"f82839dc-1986-159a-71ed-3ff0fa329997","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"c808bd80-5770-3736-97bb-618277f19c20","instanceIdentifier":"f82839dc-1986-159a-71ed-3ff0fa329997","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"d8028f9b-d93f-3efe-affe-6c8b6fef4ee9","instanceIdentifier":"8ced3703-ac04-1868-acb8-203d72bb542f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["Unauthorized"],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"64790018-97d2-33b4-9154-ff9096cbd64a","instanceIdentifier":"8ced36f9-ac04-1868-2ead-b6a51c49b258","name":"Is Unauthorized","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"103fdef3-ffbc-3c01-93e4-eb478f54fc5a","instanceIdentifier":"f82839dd-1986-159a-71ed-c861ba603eef","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"daeafebd-7208-3af1-ac4d-a6248fe1d087","instanceIdentifier":"8ced36fc-ac04-1868-86a4-24b4a30dd17d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["failure","unmatched"],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"7f403e5c-1860-3918-b4e9-2e493289644e","instanceIdentifier":"8ced36f8-ac04-1868-e71c-613f02b64d60","name":"Add token to Attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"64790018-97d2-33b4-9154-ff9096cbd64a","instanceIdentifier":"8ced36f9-ac04-1868-2ead-b6a51c49b258","name":"Is Unauthorized","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"aba1ac1c-8354-3538-848f-00a4a1765352","instanceIdentifier":"8ced3701-ac04-1868-b39d-7d45057cc972","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":[""],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"e19611aa-9611-3b0a-9ba5-9353ff0c0874","instanceIdentifier":"f82839df-1986-159a-322c-4dbd8580bac6","name":"start_retry_flow","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"103fdef3-ffbc-3c01-93e4-eb478f54fc5a","instanceIdentifier":"f82839dd-1986-159a-71ed-c861ba603eef","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"16ed9bd7-7e84-37a0-b3ca-35d4f617db1d","instanceIdentifier":"8ced3705-ac04-1868-7044-418b6666d6c1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["not-found","failure"],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"2f62a61f-7b3c-361c-ae43-64caf2004001","instanceIdentifier":"8ced36fb-ac04-1868-356c-37cb97312bbb","name":"Get Cached Token","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"f4c95fd8-dd4f-3b5b-a941-13756d465751","instanceIdentifier":"8ced36fa-ac04-1868-47a2-86b9fa80f88d","name":"LogAttributeFailure","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"462e20a5-1883-3b29-80a8-55f3370dacea","instanceIdentifier":"8ced3700-ac04-1868-3de1-82938408ceaa","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"103fdef3-ffbc-3c01-93e4-eb478f54fc5a","instanceIdentifier":"f82839dd-1986-159a-71ed-c861ba603eef","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"c808bd80-5770-3736-97bb-618277f19c20","instanceIdentifier":"f82839dc-1986-159a-71ed-3ff0fa329997","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"d0529306-6da4-38be-b85c-1d8d42d6ff3f","instanceIdentifier":"8ced36fe-ac04-1868-b46d-b50d307ea3c3","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["not-found"],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"2f62a61f-7b3c-361c-ae43-64caf2004001","instanceIdentifier":"8ced36fb-ac04-1868-356c-37cb97312bbb","name":"Get Cached Token","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"7f403e5c-1860-3918-b4e9-2e493289644e","instanceIdentifier":"8ced36f8-ac04-1868-e71c-613f02b64d60","name":"Add token to Attributes","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"199b766a-7170-3062-939f-baf794c5549c","instanceIdentifier":"8ced3704-ac04-1868-189e-e0c15af15aa1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"046734c5-3aff-30fc-911d-9ad9af2a6b79","id":"2f62a61f-7b3c-361c-ae43-64caf2004001","instanceIdentifier":"8ced36fb-ac04-1868-356c-37cb97312bbb","name":"Get Cached Token","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"103fdef3-ffbc-3c01-93e4-eb478f54fc5a","instanceIdentifier":"f82839dd-1986-159a-71ed-c861ba603eef","position":{"x":2160.0,"y":1408.0}},{"componentType":"FUNNEL","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"c808bd80-5770-3736-97bb-618277f19c20","instanceIdentifier":"f82839dc-1986-159a-71ed-3ff0fa329997","position":{"x":2168.0,"y":1128.0}}],"identifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"e19611aa-9611-3b0a-9ba5-9353ff0c0874","instanceIdentifier":"f82839df-1986-159a-322c-4dbd8580bac6","name":"start_retry_flow","position":{"x":1664.0,"y":800.0},"scheduledState":"ENABLED","type":"INPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"27fad665-c1b3-316e-b119-40d5e670fceb","instanceIdentifier":"f82839de-1986-159a-a69b-d9e23326f0cc","name":"start_try_get_token","position":{"x":1120.0,"y":1264.0},"scheduledState":"ENABLED","type":"INPUT_PORT"}],"instanceIdentifier":"f82839db-1986-159a-de6d-89ef142659f4","labels":[],"name":"Try Get Token Dataflow","outputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"e76459a7-5888-3f63-b558-82100393cfd2","instanceIdentifier":"8ced36f7-ac04-1868-f867-a1cf37611e1d","name":"end_failed_flow","position":{"x":2408.0,"y":1104.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"a1f79401-84f0-370a-bb64-841256f7a445","instanceIdentifier":"d48e3101-42f5-17d8-0016-c9aca418bfff","name":"end_succeeded_flow","position":{"x":1664.0,"y":1712.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"}],"parameterContextName":"General-Configuration","position":{"x":-272.0,"y":72.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"2f62a61f-7b3c-361c-ae43-64caf2004001","instanceIdentifier":"8ced36fb-ac04-1868-356c-37cb97312bbb","maxBackoffPeriod":"10 mins","name":"Get Cached Token","penaltyDuration":"30 sec","position":{"x":1608.0,"y":1216.0},"properties":{"Cache Entry Identifier":"${DIRECTUS_TOKEN_IDENTIFIER}","Distributed Cache Service":"49b277ba-0927-3840-ab6c-9ff6e61f149e","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"displayName":"Cache Entry Identifier","identifiesControllerService":false,"name":"Cache Entry Identifier","sensitive":false},"Put Cache Value In Attribute":{"displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"name":"Put Cache Value In Attribute","sensitive":false},"Distributed Cache Service":{"displayName":"Distributed Cache Service","identifiesControllerService":true,"name":"Distributed Cache Service","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#70cf47"},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"ERROR","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"f4c95fd8-dd4f-3b5b-a941-13756d465751","instanceIdentifier":"8ced36fa-ac04-1868-47a2-86b9fa80f88d","maxBackoffPeriod":"10 mins","name":"LogAttributeFailure","penaltyDuration":"30 sec","position":{"x":2480.0,"y":1360.0},"properties":{"Log prefix":"[${log.prefix}.${responseKey}.FailureAttribute]","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log FlowFile Properties":{"displayName":"Log FlowFile Properties","identifiesControllerService":false,"name":"Log FlowFile Properties","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Output Format":{"displayName":"Output Format","identifiesControllerService":false,"name":"Output Format","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#d40b30"},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"64790018-97d2-33b4-9154-ff9096cbd64a","instanceIdentifier":"8ced36f9-ac04-1868-2ead-b6a51c49b258","maxBackoffPeriod":"10 mins","name":"Is Unauthorized","penaltyDuration":"30 sec","position":{"x":1608.0,"y":960.0},"properties":{"Routing Strategy":"Route to Property name","Unauthorized":"${invokehttp.status.code:equals(401)}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"Unauthorized":{"displayName":"Unauthorized","identifiesControllerService":false,"name":"Unauthorized","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#57edd7"},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"046734c5-3aff-30fc-911d-9ad9af2a6b79","identifier":"7f403e5c-1860-3918-b4e9-2e493289644e","instanceIdentifier":"8ced36f8-ac04-1868-e71c-613f02b64d60","maxBackoffPeriod":"10 mins","name":"Add token to Attributes","penaltyDuration":"30 sec","position":{"x":1608.0,"y":1488.0},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","token":"$.data.access_token"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"token":{"displayName":"token","identifiesControllerService":false,"name":"token","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"GitHub base branch","name":"cc_github_base_branch","provided":false,"sensitive":false,"value":"develop"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"GitHub user","name":"cc_github_user","provided":false,"sensitive":false,"value":"filipemorgado"},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"KeyStore FileName","name":"keystore_filename","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/conf/keystore.jks"},{"description":"KeyStore Type","name":"keystore_type","provided":false,"sensitive":false,"value":"JKS"},{"description":"GitHub repository","name":"cc_github_repository","provided":false,"sensitive":false,"value":"Speech/assistant-responses-definition"},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"GitHub target file path","name":"cc_github_target_file_path","provided":false,"sensitive":false,"value":"app/src/main/res/resources/"},{"description":"","name":"RouteToAPIResources","provided":false,"sensitive":false,"value":"${clauseWaitingLocalizationAndLocal:or(${clauseWaitingLocalizationAndHybrid})}"},{"description":"Key Password","name":"key_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"GitHub token","name":"cc_github_access_token","provided":false,"sensitive":true},{"description":"","name":"clauseWaitingLocalizationAndHybrid","provided":false,"sensitive":false},{"description":"KeyStore Password","name":"keystore_password","provided":false,"sensitive":true}]}},"parameterProviders":{},"snapshotMetadata":{"author":"marcia.costa@ctw.bmwgroup.com","comments":"","timestamp":1750156709256,"version":1}}