buckets/aa358e7e-32a7-4fe8-bc6e-7735089de3d3/flows/cdc-aurora-mysql-dataflow-v9/versions/1.json
{"externalControllerServices":{"a347bc3d-206f-3fbf-9554-040b3d2111a5":{"identifier":"a347bc3d-206f-3fbf-9554-040b3d2111a5","name":"DistributedMapCacheClientService"}},"flowContents":{"comments":"CDC for Aurora MySQL","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"7667773a-1c49-3a3a-aeec-fccda7041137","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"50edadda-3b83-3d64-970c-7d1836653774","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"93fd95a2-0bfa-32ad-bc08-214bf83e94b1","name":"Validate Table","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"93fd95a2-0bfa-32ad-bc08-214bf83e94b1","name":"Validate Table","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"aa84de9d-f3fc-3f5a-95df-ecc940f0af62","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"8693c11c-7006-3065-bd8d-ddc97ae28c19","name":"Get Table Name","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"ec96e758-4463-3518-b51f-d03f3ee7679b","name":"Set Attribute Response Key","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"e67ebe4b-03a9-3a30-acc5-b2f6434a9766","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"a7054f9a-a9e7-3f5c-ae67-a5f9608c90e7","name":"JoltTransformJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5ce291d8-b394-3698-8183-e25831f094c4","name":"Validate DML","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"baddd074-7598-3caa-bde1-0dd4b8ae7840","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"139e87d8-42f8-3ab3-b4f6-f2cbe2f3baf8","name":"CaptureChangeMySQL","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"7667773a-1c49-3a3a-aeec-fccda7041137","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"35bf8534-401b-3206-982a-c24155b826a4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5ce291d8-b394-3698-8183-e25831f094c4","name":"Validate DML","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"32fc9f4a-f50b-3390-9519-c069bcaa9289","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"2ccd87c0-7885-362a-a7d5-a906e67e718b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5c1991b5-4274-399c-8b4a-da0aeaad0e48","name":"Validate DML Dataflow","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"4ead781a-72ac-35be-8c96-7b989000355d","name":"start_deletion","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"a012c52c-8754-390e-827a-d274659f0f12","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["soft-delete","delete"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5c1991b5-4274-399c-8b4a-da0aeaad0e48","name":"Validate DML Dataflow","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"38fd367a-a345-3de8-96a2-864b83075995","name":"LogAttributeFailure","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"cc137662-32f7-36a7-80bd-e83c67ad82cf","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"413d4ed5-c4ef-31bb-a553-59720769381a","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"413d4ed5-c4ef-31bb-a553-59720769381a","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"f07d756a-1268-3e4e-b285-cc7b9bd6ba6e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"32fc9f4a-f50b-3390-9519-c069bcaa9289","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"413d4ed5-c4ef-31bb-a553-59720769381a","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"5dcfea04-7524-3fac-b4ca-435604240817","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"7667773a-1c49-3a3a-aeec-fccda7041137","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"a7054f9a-a9e7-3f5c-ae67-a5f9608c90e7","name":"JoltTransformJSON","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"4562be7c-ea8b-38c7-b206-f74e190d21d9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["isAcceptableTable"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"93fd95a2-0bfa-32ad-bc08-214bf83e94b1","name":"Validate Table","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"32fc9f4a-f50b-3390-9519-c069bcaa9289","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"840114b1-b7ef-3eaf-a27c-81c9e08afbbd","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["overtook","failure","skipped"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"409f67c2-24a3-3e92-8abe-5aa213a4f4a7","name":"EnforceOrder","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5c1991b5-4274-399c-8b4a-da0aeaad0e48","name":"Validate DML Dataflow","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"6ec2d1eb-2d32-3349-9f45-0407868ab4bf","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["wait","success"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"409f67c2-24a3-3e92-8abe-5aa213a4f4a7","name":"EnforceOrder","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"7667773a-1c49-3a3a-aeec-fccda7041137","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"b91f1fd7-f175-374a-8879-c10b989828b4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure","unmatched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"8693c11c-7006-3065-bd8d-ddc97ae28c19","name":"Get Table Name","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"7667773a-1c49-3a3a-aeec-fccda7041137","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"157eeebf-2a97-30f7-9f75-f1d52909576d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"a7054f9a-a9e7-3f5c-ae67-a5f9608c90e7","name":"JoltTransformJSON","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"32fc9f4a-f50b-3390-9519-c069bcaa9289","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"d80eb939-1d38-338e-879c-c473932d1aa8","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure","unmatched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"ec96e758-4463-3518-b51f-d03f3ee7679b","name":"Set Attribute Response Key","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"a6066047-0047-3882-85fc-51bca25b91f4","name":"put_dynamodb","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"39102aa4-eb58-35c2-8b15-5a5dfc72c165","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["upsert"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5c1991b5-4274-399c-8b4a-da0aeaad0e48","name":"Validate DML Dataflow","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"409f67c2-24a3-3e92-8abe-5aa213a4f4a7","name":"EnforceOrder","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"584e77ca-220f-3962-afe2-78becdc0f2a5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"ec96e758-4463-3518-b51f-d03f3ee7679b","name":"Set Attribute Response Key","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"8693c11c-7006-3065-bd8d-ddc97ae28c19","name":"Get Table Name","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"891d8fbe-e374-3b77-80f0-0bd0fd1fdf67","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["isDML"],"source":{"comments":"","groupId":"fcc5a141-27d4-337a-99e1-cea4167d82b6","id":"5ce291d8-b394-3698-8183-e25831f094c4","name":"Validate DML","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"32fc9f4a-f50b-3390-9519-c069bcaa9289","position":{"x":584.0,"y":872.0}},{"componentType":"FUNNEL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"7667773a-1c49-3a3a-aeec-fccda7041137","position":{"x":584.0,"y":536.0}},{"componentType":"FUNNEL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"413d4ed5-c4ef-31bb-a553-59720769381a","position":{"x":496.0,"y":720.0}}],"identifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","inputPorts":[],"labels":[],"name":"CDC AuroraMysql Dataflow","outputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"a6066047-0047-3882-85fc-51bca25b91f4","name":"put_dynamodb","position":{"x":1440.0,"y":1648.0},"type":"OUTPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"4ead781a-72ac-35be-8c96-7b989000355d","name":"start_deletion","position":{"x":1056.0,"y":1648.0},"type":"OUTPUT_PORT"}],"parameterContextName":"General-Configuration","position":{"x":1392.0,"y":312.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"8693c11c-7006-3065-bd8d-ddc97ae28c19","name":"Get Table Name","penaltyDuration":"30 sec","position":{"x":1176.0,"y":336.0},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","tableName":"$.table_name"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"tableName":{"displayName":"tableName","identifiesControllerService":false,"name":"tableName","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"5c1991b5-4274-399c-8b4a-da0aeaad0e48","name":"Validate DML Dataflow","penaltyDuration":"30 sec","position":{"x":1176.0,"y":1416.0},"properties":{"soft-delete":"${status:equals('deleted')}","Routing Strategy":"Route to Property name","upsert":"${cdc.event.type:in('update', 'insert'):and(${status:equals('deleted'):not()})}","delete":"${cdc.event.type:equals('delete')}"},"propertyDescriptors":{"soft-delete":{"displayName":"soft-delete","identifiesControllerService":false,"name":"soft-delete","sensitive":false},"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"upsert":{"displayName":"upsert","identifiesControllerService":false,"name":"upsert","sensitive":false},"delete":{"displayName":"delete","identifiesControllerService":false,"name":"delete","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#57edd7"},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"a7054f9a-a9e7-3f5c-ae67-a5f9608c90e7","name":"JoltTransformJSON","penaltyDuration":"30 sec","position":{"x":1176.0,"y":760.0},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"columns\": {\n        \"*\": {\n          \"@(value)\": \"[#1].@(1,name)\"\n        }\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"displayName":"Jolt Specification","identifiesControllerService":false,"name":"jolt-spec","sensitive":false},"jolt-transform":{"displayName":"Jolt Transformation DSL","identifiesControllerService":false,"name":"jolt-transform","sensitive":false},"jolt-custom-class":{"displayName":"Custom Transformation Class Name","identifiesControllerService":false,"name":"jolt-custom-class","sensitive":false},"jolt-custom-modules":{"displayName":"Custom Module Directory","identifiesControllerService":false,"name":"jolt-custom-modules","sensitive":false},"pretty_print":{"displayName":"Pretty Print","identifiesControllerService":false,"name":"pretty_print","sensitive":false},"Transform Cache Size":{"displayName":"Transform Cache Size","identifiesControllerService":false,"name":"Transform Cache Size","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"93fd95a2-0bfa-32ad-bc08-214bf83e94b1","name":"Validate Table","penaltyDuration":"30 sec","position":{"x":1176.0,"y":544.0},"properties":{"Routing Strategy":"Route to Property name","isAcceptableTable":"${tableName:in(\"responses\", \"apl\")}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"isAcceptableTable":{"displayName":"isAcceptableTable","identifiesControllerService":false,"name":"isAcceptableTable","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"ERROR","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"ec96e758-4463-3518-b51f-d03f3ee7679b","name":"Set Attribute Response Key","penaltyDuration":"30 sec","position":{"x":1176.0,"y":976.0},"properties":{"Destination":"flowfile-attribute","itemId":"$.[0].id","responseKey":"$.[0].name","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","status":"$.[0].status"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"itemId":{"displayName":"itemId","identifiesControllerService":false,"name":"itemId","sensitive":false},"responseKey":{"displayName":"responseKey","identifiesControllerService":false,"name":"responseKey","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"status":{"displayName":"status","identifiesControllerService":false,"name":"status","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"ERROR","bundle":{"artifact":"nifi-cdc-mysql-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"139e87d8-42f8-3ab3-b4f6-f2cbe2f3baf8","name":"CaptureChangeMySQL","penaltyDuration":"30 sec","position":{"x":1176.0,"y":-80.0},"properties":{"capture-change-mysql-include-ddl-events":"false","capture-change-mysql-db-name-pattern":"cmsdatabase.*","capture-change-mysql-dist-map-cache-client":"a347bc3d-206f-3fbf-9554-040b3d2111a5","capture-change-mysql-init-seq-id":"0","capture-change-mysql-name-pattern":"^(?!directus).*$","capture-change-mysql-driver-class":"com.mysql.jdbc.Driver","capture-change-mysql-driver-locations":"${MYSQL_DB_DRIVER}","capture-change-mysql-include-begin-commit":"false","capture-change-mysql-hosts":"${DIRECTUS_DB_HOSTNAME}:3306","capture-change-mysql-username":"#{directus_db_user}","capture-change-mysql-retrieve-all-records":"true","capture-change-mysql-state-update-interval":"0 seconds","capture-change-mysql-use-gtid":"false","capture-change-mysql-password":"#{directus_db_password}","capture-change-mysql-max-wait-time":"240 seconds"},"propertyDescriptors":{"capture-change-mysql-include-ddl-events":{"displayName":"Include DDL Events","identifiesControllerService":false,"name":"capture-change-mysql-include-ddl-events","sensitive":false},"capture-change-mysql-db-name-pattern":{"displayName":"Database/Schema Name Pattern","identifiesControllerService":false,"name":"capture-change-mysql-db-name-pattern","sensitive":false},"capture-change-mysql-dist-map-cache-client":{"displayName":"Distributed Map Cache Client","identifiesControllerService":true,"name":"capture-change-mysql-dist-map-cache-client","sensitive":false},"capture-change-mysql-init-seq-id":{"displayName":"Initial Sequence ID","identifiesControllerService":false,"name":"capture-change-mysql-init-seq-id","sensitive":false},"capture-change-mysql-name-pattern":{"displayName":"Table Name Pattern","identifiesControllerService":false,"name":"capture-change-mysql-name-pattern","sensitive":false},"capture-change-mysql-driver-class":{"displayName":"MySQL Driver Class Name","identifiesControllerService":false,"name":"capture-change-mysql-driver-class","sensitive":false},"capture-change-mysql-driver-locations":{"displayName":"MySQL Driver Location(s)","identifiesControllerService":false,"name":"capture-change-mysql-driver-locations","sensitive":false},"capture-change-mysql-include-begin-commit":{"displayName":"Include Begin/Commit Events","identifiesControllerService":false,"name":"capture-change-mysql-include-begin-commit","sensitive":false},"capture-change-mysql-server-id":{"displayName":"Server ID","identifiesControllerService":false,"name":"capture-change-mysql-server-id","sensitive":false},"capture-change-mysql-init-binlog-filename":{"displayName":"Initial Binlog Filename","identifiesControllerService":false,"name":"capture-change-mysql-init-binlog-filename","sensitive":false},"capture-change-mysql-init-binlog-position":{"displayName":"Initial Binlog Position","identifiesControllerService":false,"name":"capture-change-mysql-init-binlog-position","sensitive":false},"capture-change-mysql-init-gtid":{"displayName":"Initial Binlog GTID","identifiesControllerService":false,"name":"capture-change-mysql-init-gtid","sensitive":false},"capture-change-mysql-hosts":{"displayName":"MySQL Hosts","identifiesControllerService":false,"name":"capture-change-mysql-hosts","sensitive":false},"capture-change-mysql-username":{"displayName":"Username","identifiesControllerService":false,"name":"capture-change-mysql-username","sensitive":false},"capture-change-mysql-retrieve-all-records":{"displayName":"Retrieve All Records","identifiesControllerService":false,"name":"capture-change-mysql-retrieve-all-records","sensitive":false},"capture-change-mysql-state-update-interval":{"displayName":"State Update Interval","identifiesControllerService":false,"name":"capture-change-mysql-state-update-interval","sensitive":false},"capture-change-mysql-use-gtid":{"displayName":"Use Binlog GTID","identifiesControllerService":false,"name":"capture-change-mysql-use-gtid","sensitive":false},"capture-change-mysql-password":{"displayName":"Password","identifiesControllerService":false,"name":"capture-change-mysql-password","sensitive":true},"capture-change-mysql-max-wait-time":{"displayName":"Max Wait Time","identifiesControllerService":false,"name":"capture-change-mysql-max-wait-time","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#3cb56a"},"type":"org.apache.nifi.cdc.mysql.processors.CaptureChangeMySQL","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"409f67c2-24a3-3e92-8abe-5aa213a4f4a7","name":"EnforceOrder","penaltyDuration":"30 sec","position":{"x":1176.0,"y":1184.0},"properties":{"initial-order":"0","group-id":"1","inactive-timeout":"30 min","wait-timeout":"10 min","batch-count":"1000","order-attribute":"cdc.sequence.id"},"propertyDescriptors":{"initial-order":{"displayName":"Initial Order","identifiesControllerService":false,"name":"initial-order","sensitive":false},"group-id":{"displayName":"Group Identifier","identifiesControllerService":false,"name":"group-id","sensitive":false},"inactive-timeout":{"displayName":"Inactive Timeout","identifiesControllerService":false,"name":"inactive-timeout","sensitive":false},"wait-timeout":{"displayName":"Wait Timeout","identifiesControllerService":false,"name":"wait-timeout","sensitive":false},"batch-count":{"displayName":"Batch Count","identifiesControllerService":false,"name":"batch-count","sensitive":false},"maximum-order":{"displayName":"Maximum Order","identifiesControllerService":false,"name":"maximum-order","sensitive":false},"order-attribute":{"displayName":"Order Attribute","identifiesControllerService":false,"name":"order-attribute","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#8a2c2c"},"type":"org.apache.nifi.processors.standard.EnforceOrder","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"5ce291d8-b394-3698-8183-e25831f094c4","name":"Validate DML","penaltyDuration":"30 sec","position":{"x":1176.0,"y":128.0},"properties":{"Routing Strategy":"Route to Property name","isDML":"${cdc.event.type:in('update', 'delete', 'insert')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"isDML":{"displayName":"isDML","identifiesControllerService":false,"name":"isDML","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#57edd7"},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"bulletinLevel":"ERROR","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"fcc5a141-27d4-337a-99e1-cea4167d82b6","identifier":"38fd367a-a345-3de8-96a2-864b83075995","name":"LogAttributeFailure","penaltyDuration":"30 sec","position":{"x":-152.0,"y":688.0},"properties":{"Log prefix":"[${log.prefix}.${responseKey}.FailureAttribute]","character-set":"UTF-8","Log Level":"error","attributes-to-log-regex":".*","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"runDurationMillis":0,"scheduledState":"DISABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#d40b30"},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","name":"General-Configuration","parameters":[{"description":"","name":"directus_db_password","provided":false,"sensitive":true},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"","name":"mysql_db_driver","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/ls-target/drivers/mysql-connector-java-8.0.23.jar"},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"","name":"directus_db_user","provided":false,"sensitive":false,"value":"admin"}]}},"snapshotMetadata":{"author":"david.lamas@ctw.bmwgroup.com","comments":"","timestamp":1642525437556,"version":1}}