buckets/aa358e7e-32a7-4fe8-bc6e-7735089de3d3/flows/Request_Token_DataFlow_for_James_Tool_resourceGroup/versions/1.json
{"externalControllerServices":{"49b277ba-0927-3840-ab6c-9ff6e61f149e":{"identifier":"49b277ba-0927-3840-ab6c-9ff6e61f149e","name":"DistributedMapCacheClientService"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ebc803db-3494-3dc7-ac35-2aecaf879bc6","instanceIdentifier":"7411385c-e07b-1ce0-8357-f90545cb0348","name":"LogAttributeFailure","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"391a02ec-a61c-3c66-9b18-517e5bd87586","instanceIdentifier":"7411386c-e07b-1ce0-76ca-0bc3acdaa493","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"04800109-5496-3fa0-9744-72ce9d2b2453","instanceIdentifier":"74113857-e07b-1ce0-4666-7a0a2d4a0a42","name":"auth_granted","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"768ada2c-7d49-35ea-ba2d-77e99f651cc1","instanceIdentifier":"74113864-e07b-1ce0-6505-4186f226b288","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"414eb03a-52cc-3cc5-8cfc-60b6e9be873f","instanceIdentifier":"74113859-e07b-1ce0-78d7-2cdfa0291dc8","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"081747af-85e9-34f8-bc27-43a7aa198d15","instanceIdentifier":"74113856-e07b-1ce0-6749-ff673f76ed71","name":"credentials_not_cached","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"4ead0ea2-46b7-3717-829f-473ff5e00c70","instanceIdentifier":"7411386f-e07b-1ce0-609b-d65fc07777e1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["not-found"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"2682d3a4-e905-3a59-afde-d58da59f905a","instanceIdentifier":"74113858-e07b-1ce0-83e9-874985ddabce","name":"Get Cached Credentials","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"2682d3a4-e905-3a59-afde-d58da59f905a","instanceIdentifier":"74113858-e07b-1ce0-83e9-874985ddabce","name":"Get Cached Credentials","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"d83841b7-adeb-3b6b-b712-87d0e0e43873","instanceIdentifier":"74113866-e07b-1ce0-7d3b-2339a64658bf","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"e1fe1c74-2692-3cf5-a397-2ba5dfab855a","instanceIdentifier":"7411385f-e07b-1ce0-35bc-a6b9a4d3ac97","name":"UpdateAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"550a9c0d-1d69-3377-ad30-7db55580dec9","instanceIdentifier":"7411385d-e07b-1ce0-a5da-affc4df15138","name":"RouteOnAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"04911464-4208-3483-844d-0fc5daf4b8ef","instanceIdentifier":"7411386d-e07b-1ce0-e33c-5f7788ad75f0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"06b8dd5a-bdae-3bea-b817-39a4e16871ec","instanceIdentifier":"74113871-e07b-1ce0-0de2-dc7004d24c51","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["No Retry","Retry","Failure"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"f1d4f435-2129-39d2-a1db-3398c62638a5","instanceIdentifier":"7411385a-e07b-1ce0-ea60-7945644e2c3b","name":"Get Authentication","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"df043f3a-b949-387d-b78f-e169f77ffcdb","instanceIdentifier":"7411385e-e07b-1ce0-da5e-54e999c0da6d","name":"Caching Token","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"7aba6434-2a0a-3bae-a4a1-8a9af2d67009","instanceIdentifier":"7411386a-e07b-1ce0-4f4c-3322c520e7b4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["Response","Original"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"f1d4f435-2129-39d2-a1db-3398c62638a5","instanceIdentifier":"7411385a-e07b-1ce0-ea60-7945644e2c3b","name":"Get Authentication","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"c294f194-9b16-304d-8364-bcdc66ddeea4","instanceIdentifier":"74113861-e07b-1ce0-6028-9103697058c9","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["not-found","failure"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"2682d3a4-e905-3a59-afde-d58da59f905a","instanceIdentifier":"74113858-e07b-1ce0-83e9-874985ddabce","name":"Get Cached Credentials","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"081747af-85e9-34f8-bc27-43a7aa198d15","instanceIdentifier":"74113856-e07b-1ce0-6749-ff673f76ed71","name":"credentials_not_cached","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"5042ad07-fb89-38bf-a858-a33d4a1a921f","instanceIdentifier":"74113863-e07b-1ce0-2aa0-d8fcb478a30c","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["isValidationError"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"550a9c0d-1d69-3377-ad30-7db55580dec9","instanceIdentifier":"7411385d-e07b-1ce0-a5da-affc4df15138","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":-88.0,"y":328.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"8f1bdec6-f081-3d97-8da5-50deabb7b46e","instanceIdentifier":"74113860-e07b-1ce0-c36b-e210e0674a68","name":"RetryFlowFile","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"b93d1bc0-c868-3798-bb05-d4fa86d78a9a","instanceIdentifier":"7411386e-e07b-1ce0-db14-76765d71eb6a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["Retry"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"f1d4f435-2129-39d2-a1db-3398c62638a5","instanceIdentifier":"7411385a-e07b-1ce0-ea60-7945644e2c3b","name":"Get Authentication","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"f1d4f435-2129-39d2-a1db-3398c62638a5","instanceIdentifier":"7411385a-e07b-1ce0-ea60-7945644e2c3b","name":"Get Authentication","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"49e4ffce-5908-33d0-9d4f-9fa85f2e90fa","instanceIdentifier":"74113870-e07b-1ce0-0d04-f8eff7b357f2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"2682d3a4-e905-3a59-afde-d58da59f905a","instanceIdentifier":"74113858-e07b-1ce0-83e9-874985ddabce","name":"Get Cached Credentials","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"de60d214-0c8c-32ea-ab93-6455d8669760","instanceIdentifier":"74113865-e07b-1ce0-5696-e18db35c6b11","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"df043f3a-b949-387d-b78f-e169f77ffcdb","instanceIdentifier":"7411385e-e07b-1ce0-da5e-54e999c0da6d","name":"Caching Token","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"414eb03a-52cc-3cc5-8cfc-60b6e9be873f","instanceIdentifier":"74113859-e07b-1ce0-78d7-2cdfa0291dc8","name":"ReplaceText","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"b539058d-199a-3507-a1fa-418187bc66a9","instanceIdentifier":"74113862-e07b-1ce0-4fb3-8f3bf7cd04d6","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"45c0a813-b19e-363e-a2ed-c71c34ddba03","instanceIdentifier":"7411385b-e07b-1ce0-be57-9d040748f6f7","name":"Remove InvokeHttp Headers","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"12a032e8-2a14-3c60-b448-4e2fad9711e9","instanceIdentifier":"74113869-e07b-1ce0-c734-cc867050692f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"414eb03a-52cc-3cc5-8cfc-60b6e9be873f","instanceIdentifier":"74113859-e07b-1ce0-78d7-2cdfa0291dc8","name":"ReplaceText","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"45c0a813-b19e-363e-a2ed-c71c34ddba03","instanceIdentifier":"7411385b-e07b-1ce0-be57-9d040748f6f7","name":"Remove InvokeHttp Headers","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"a3bb305f-76a6-3e7a-81c1-5e3f69a49491","instanceIdentifier":"74113868-e07b-1ce0-15a6-b042e88c862a","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":["success"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"df043f3a-b949-387d-b78f-e169f77ffcdb","instanceIdentifier":"7411385e-e07b-1ce0-da5e-54e999c0da6d","name":"Caching Token","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"e1fe1c74-2692-3cf5-a397-2ba5dfab855a","instanceIdentifier":"7411385f-e07b-1ce0-35bc-a6b9a4d3ac97","name":"UpdateAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"e08c309d-1e75-3ce9-b82e-0161ab0b0b43","instanceIdentifier":"74113867-e07b-1ce0-076b-51528cfac91e","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"selectedRelationships":[""],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"bdecee4e-e254-3848-9e7b-9975e46c6b41","instanceIdentifier":"74113855-e07b-1ce0-0589-021c2d38bb50","name":"start_get_auth","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"2682d3a4-e905-3a59-afde-d58da59f905a","instanceIdentifier":"74113858-e07b-1ce0-83e9-874985ddabce","name":"Get Cached Credentials","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"361c6b83-0d48-3a40-a55e-48435254d2c9","instanceIdentifier":"7411386b-e07b-1ce0-e260-4b40989dccd1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["retry"],"source":{"comments":"","groupId":"adfea38f-bc74-3553-b317-b92d42188a64","id":"8f1bdec6-f081-3d97-8da5-50deabb7b46e","instanceIdentifier":"74113860-e07b-1ce0-c36b-e210e0674a68","name":"RetryFlowFile","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"ef645a15-7c3b-3164-9f30-8cf61196970a","instanceIdentifier":"74113854-e07b-1ce0-ee86-4373eb534c90","position":{"x":1024.0,"y":576.0}}],"identifier":"adfea38f-bc74-3553-b317-b92d42188a64","inputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"bdecee4e-e254-3848-9e7b-9975e46c6b41","instanceIdentifier":"74113855-e07b-1ce0-0589-021c2d38bb50","name":"start_get_auth","position":{"x":400.0,"y":-440.0},"scheduledState":"ENABLED","type":"INPUT_PORT"}],"instanceIdentifier":"74113853-e07b-1ce0-bc8c-623ffce5d603","labels":[],"name":"Request Token Dataflow","outputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"04800109-5496-3fa0-9744-72ce9d2b2453","instanceIdentifier":"74113857-e07b-1ce0-4666-7a0a2d4a0a42","name":"auth_granted","position":{"x":400.0,"y":1192.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"081747af-85e9-34f8-bc27-43a7aa198d15","instanceIdentifier":"74113856-e07b-1ce0-6749-ff673f76ed71","name":"credentials_not_cached","position":{"x":1120.0,"y":48.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"}],"parameterContextName":"General-Configuration","position":{"x":503.9999275859211,"y":69.9999606897963},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"f1d4f435-2129-39d2-a1db-3398c62638a5","instanceIdentifier":"7411385a-e07b-1ce0-ea60-7945644e2c3b","maxBackoffPeriod":"10 mins","name":"Get Authentication","penaltyDuration":"30 sec","position":{"x":344.0,"y":264.0},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"30 secs","send-message-body":"true","set-form-filename":"false","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"False","Remote URL":"#{directus_hostname}/${DIRECTUS_AUTH_PATH}","Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"displayName":"Proxy Host","identifiesControllerService":false,"name":"Proxy Host","sensitive":false},"Attributes to Send":{"displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"name":"Attributes to Send","sensitive":false},"use-etag":{"displayName":"Response Cache Enabled","identifiesControllerService":false,"name":"use-etag","sensitive":false},"proxy-configuration-service":{"displayName":"Proxy Configuration Service","identifiesControllerService":true,"name":"proxy-configuration-service","sensitive":false},"Proxy Type":{"displayName":"Proxy Type","identifiesControllerService":false,"name":"Proxy Type","sensitive":false},"Basic Authentication Password":{"displayName":"Request Password","identifiesControllerService":false,"name":"Basic Authentication Password","sensitive":true},"cookie-strategy":{"displayName":"Response Cookie Strategy","identifiesControllerService":false,"name":"cookie-strategy","sensitive":false},"Connection Timeout":{"displayName":"Socket Connect Timeout","identifiesControllerService":false,"name":"Connection Timeout","sensitive":false},"send-message-body":{"displayName":"Request Body Enabled","identifiesControllerService":false,"name":"send-message-body","sensitive":false},"set-form-filename":{"displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"name":"set-form-filename","sensitive":false},"Always Output Response":{"displayName":"Response Generation Required","identifiesControllerService":false,"name":"Always Output Response","sensitive":false},"etag-max-cache-size":{"displayName":"Response Cache Size","identifiesControllerService":false,"name":"etag-max-cache-size","sensitive":false},"Content-Encoding":{"displayName":"Request Content-Encoding","identifiesControllerService":false,"name":"Content-Encoding","sensitive":false},"disable-http2":{"displayName":"HTTP/2 Disabled","identifiesControllerService":false,"name":"disable-http2","sensitive":false},"idle-timeout":{"displayName":"Socket Idle Timeout","identifiesControllerService":false,"name":"idle-timeout","sensitive":false},"Put Response Body In Attribute":{"displayName":"Response Body Attribute Name","identifiesControllerService":false,"name":"Put Response Body In Attribute","sensitive":false},"Use Chunked Encoding":{"displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"name":"Use Chunked Encoding","sensitive":false},"Follow Redirects":{"displayName":"Response Redirects Enabled","identifiesControllerService":false,"name":"Follow Redirects","sensitive":false},"Remote URL":{"displayName":"HTTP URL","identifiesControllerService":false,"name":"Remote URL","sensitive":false},"form-body-form-name":{"displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"name":"form-body-form-name","sensitive":false},"Content-Type":{"displayName":"Request Content-Type","identifiesControllerService":false,"name":"Content-Type","sensitive":false},"flow-file-naming-strategy":{"displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"name":"flow-file-naming-strategy","sensitive":false},"max-idle-connections":{"displayName":"Socket Idle Connections","identifiesControllerService":false,"name":"max-idle-connections","sensitive":false},"invokehttp-proxy-user":{"displayName":"Proxy Username","identifiesControllerService":false,"name":"invokehttp-proxy-user","sensitive":false},"Read Timeout":{"displayName":"Socket Read Timeout","identifiesControllerService":false,"name":"Read Timeout","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Response Body Attribute Size","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"invokehttp-proxy-password":{"displayName":"Proxy Password","identifiesControllerService":false,"name":"invokehttp-proxy-password","sensitive":true},"ignore-response-content":{"displayName":"Response Body Ignored","identifiesControllerService":false,"name":"ignore-response-content","sensitive":false},"Proxy Port":{"displayName":"Proxy Port","identifiesControllerService":false,"name":"Proxy Port","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Digest Authentication":{"displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"name":"Digest Authentication","sensitive":false},"HTTP Method":{"displayName":"HTTP Method","identifiesControllerService":false,"name":"HTTP Method","sensitive":false},"Add Response Headers to Request":{"displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"name":"Add Response Headers to Request","sensitive":false},"oauth2-access-token-provider":{"displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"name":"oauth2-access-token-provider","sensitive":false},"Basic Authentication Username":{"displayName":"Request Username","identifiesControllerService":false,"name":"Basic Authentication Username","sensitive":false},"Include Date Header":{"displayName":"Request Date Header Enabled","identifiesControllerService":false,"name":"Include Date Header","sensitive":false},"Penalize on \"No Retry\"":{"displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"name":"Penalize on \"No Retry\"","sensitive":false},"Useragent":{"displayName":"Request User-Agent","identifiesControllerService":false,"name":"Useragent","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#e09455"},"type":"org.apache.nifi.processors.standard.InvokeHTTP","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"45c0a813-b19e-363e-a2ed-c71c34ddba03","instanceIdentifier":"7411385b-e07b-1ce0-be57-9d040748f6f7","maxBackoffPeriod":"10 mins","name":"Remove InvokeHttp Headers","penaltyDuration":"30 sec","position":{"x":344.0,"y":752.0},"properties":{"Delete Attributes Expression":".*\\.?invokehttp\\..*","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"df043f3a-b949-387d-b78f-e169f77ffcdb","instanceIdentifier":"7411385e-e07b-1ce0-da5e-54e999c0da6d","maxBackoffPeriod":"10 mins","name":"Caching Token","penaltyDuration":"30 sec","position":{"x":344.0,"y":528.0},"properties":{"Cache Entry Identifier":"${DIRECTUS_TOKEN_IDENTIFIER}","Cache update strategy":"replace","Distributed Cache Service":"49b277ba-0927-3840-ab6c-9ff6e61f149e","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"displayName":"Cache Entry Identifier","identifiesControllerService":false,"name":"Cache Entry Identifier","sensitive":false},"Cache update strategy":{"displayName":"Cache update strategy","identifiesControllerService":false,"name":"Cache update strategy","sensitive":false},"Distributed Cache Service":{"displayName":"Distributed Cache Service","identifiesControllerService":true,"name":"Distributed Cache Service","sensitive":false},"Max cache entry size":{"displayName":"Max cache entry size","identifiesControllerService":false,"name":"Max cache entry size","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#82a1ba"},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"414eb03a-52cc-3cc5-8cfc-60b6e9be873f","instanceIdentifier":"74113859-e07b-1ce0-78d7-2cdfa0291dc8","maxBackoffPeriod":"10 mins","name":"ReplaceText","penaltyDuration":"30 sec","position":{"x":344.0,"y":976.0},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":" ","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{"Regular Expression":{"displayName":"Search Value","identifiesControllerService":false,"name":"Regular Expression","sensitive":false},"Replacement Value":{"displayName":"Replacement Value","identifiesControllerService":false,"name":"Replacement Value","sensitive":false},"Evaluation Mode":{"displayName":"Evaluation Mode","identifiesControllerService":false,"name":"Evaluation Mode","sensitive":false},"Line-by-Line Evaluation Mode":{"displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"name":"Line-by-Line Evaluation Mode","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Replacement Strategy":{"displayName":"Replacement Strategy","identifiesControllerService":false,"name":"Replacement Strategy","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ReplaceText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"2682d3a4-e905-3a59-afde-d58da59f905a","instanceIdentifier":"74113858-e07b-1ce0-83e9-874985ddabce","maxBackoffPeriod":"10 mins","name":"Get Cached Credentials","penaltyDuration":"30 sec","position":{"x":336.0,"y":8.0},"properties":{"Cache Entry Identifier":"${DIRECTUS_CACHE_IDENTIFIER}","Distributed Cache Service":"49b277ba-0927-3840-ab6c-9ff6e61f149e","Max Length To Put In Attribute":"512","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"displayName":"Cache Entry Identifier","identifiesControllerService":false,"name":"Cache Entry Identifier","sensitive":false},"Put Cache Value In Attribute":{"displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"name":"Put Cache Value In Attribute","sensitive":false},"Distributed Cache Service":{"displayName":"Distributed Cache Service","identifiesControllerService":true,"name":"Distributed Cache Service","sensitive":false},"Max Length To Put In Attribute":{"displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"name":"Max Length To Put In Attribute","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#70cf47"},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"ERROR","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"ebc803db-3494-3dc7-ac35-2aecaf879bc6","instanceIdentifier":"7411385c-e07b-1ce0-8357-f90545cb0348","maxBackoffPeriod":"10 mins","name":"LogAttributeFailure","penaltyDuration":"30 sec","position":{"x":1312.0,"y":544.0},"properties":{"Log prefix":"[${log.prefix}.${responseKey}.FailureAttribute]","character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"error","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log FlowFile Properties":{"displayName":"Log FlowFile Properties","identifiesControllerService":false,"name":"Log FlowFile Properties","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Output Format":{"displayName":"Output Format","identifiesControllerService":false,"name":"Output Format","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#d40b30"},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"550a9c0d-1d69-3377-ad30-7db55580dec9","instanceIdentifier":"7411385d-e07b-1ce0-a5da-affc4df15138","maxBackoffPeriod":"10 mins","name":"RouteOnAttribute","penaltyDuration":"30 sec","position":{"x":1064.0,"y":272.0},"properties":{"isValidationError":"${invokehttp.status.code:equals(422)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"isValidationError":{"displayName":"isValidationError","identifiesControllerService":false,"name":"isValidationError","sensitive":false},"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"e1fe1c74-2692-3cf5-a397-2ba5dfab855a","instanceIdentifier":"7411385f-e07b-1ce0-35bc-a6b9a4d3ac97","maxBackoffPeriod":"10 mins","name":"UpdateAttribute","penaltyDuration":"30 sec","position":{"x":344.0,"y":-288.0},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"mime.type":{"displayName":"mime.type","identifiesControllerService":false,"name":"mime.type","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#938aed"},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["retries_exceeded","failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"adfea38f-bc74-3553-b317-b92d42188a64","identifier":"8f1bdec6-f081-3d97-8da5-50deabb7b46e","instanceIdentifier":"74113860-e07b-1ce0-c36b-e210e0674a68","maxBackoffPeriod":"10 mins","name":"RetryFlowFile","penaltyDuration":"30 sec","position":{"x":-264.0,"y":0.0},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"displayName":"Penalize Retries","identifiesControllerService":false,"name":"penalize-retries","sensitive":false},"maximum-retries":{"displayName":"Maximum Retries","identifiesControllerService":false,"name":"maximum-retries","sensitive":false},"Fail on Non-numerical Overwrite":{"displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"name":"Fail on Non-numerical Overwrite","sensitive":false},"reuse-mode":{"displayName":"Reuse Mode","identifiesControllerService":false,"name":"reuse-mode","sensitive":false},"retry-attribute":{"displayName":"Retry Attribute","identifiesControllerService":false,"name":"retry-attribute","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"GitHub base branch","name":"cc_github_base_branch","provided":false,"sensitive":false,"value":"develop"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"GitHub user","name":"cc_github_user","provided":false,"sensitive":false,"value":"filipemorgado"},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"KeyStore FileName","name":"keystore_filename","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/conf/keystore.jks"},{"description":"KeyStore Type","name":"keystore_type","provided":false,"sensitive":false,"value":"JKS"},{"description":"GitHub repository","name":"cc_github_repository","provided":false,"sensitive":false,"value":"Speech/assistant-responses-definition"},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"GitHub target file path","name":"cc_github_target_file_path","provided":false,"sensitive":false,"value":"app/src/main/res/resources/"},{"description":"","name":"RouteToAPIResources","provided":false,"sensitive":false,"value":"${clauseWaitingLocalizationAndLocal:or(${clauseWaitingLocalizationAndHybrid})}"},{"description":"Key Password","name":"key_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"GitHub token","name":"cc_github_access_token","provided":false,"sensitive":true},{"description":"","name":"clauseWaitingLocalizationAndHybrid","provided":false,"sensitive":false},{"description":"KeyStore Password","name":"keystore_password","provided":false,"sensitive":true}]}},"parameterProviders":{},"snapshotMetadata":{"author":"marcia.costa@ctw.bmwgroup.com","comments":"","timestamp":1750156682164,"version":1}}