prod-bucket/Github_Flow_Test/3.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"f64292cd-f9ba-3ef3-b62d-727766f91562","instanceIdentifier":"c8b72db3-6cb9-3039-ae7b-59a7a213f301","name":"LogAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"8c77c85c-5578-32a4-9729-aeb7adc5e2f3","instanceIdentifier":"972e3113-fec3-317d-9b29-24526a29d7e1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["error"],"source":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"c8e75bbc-2c8d-360f-8c1b-078358a2b6b1","instanceIdentifier":"5c53bf37-d1cf-3a06-f01c-4fbe8ff8f19a","name":"CustomGitProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"c8e75bbc-2c8d-360f-8c1b-078358a2b6b1","instanceIdentifier":"5c53bf37-d1cf-3a06-f01c-4fbe8ff8f19a","name":"CustomGitProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"7347bb89-bceb-35e8-8ca7-6637ca6d48ac","instanceIdentifier":"bf656960-ee8a-3927-cb2c-c5fd95786e3f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"235bde46-d285-30aa-a618-caeba42e0410","instanceIdentifier":"7273d437-3190-31c9-c4ff-a41edbe228f7","name":"CustomPromptsProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"235bde46-d285-30aa-a618-caeba42e0410","instanceIdentifier":"7273d437-3190-31c9-c4ff-a41edbe228f7","name":"CustomPromptsProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"d80037a5-caa4-3d6d-856a-b98073154332","instanceIdentifier":"49dde1f2-c95e-3a02-cfb3-6964eed98591","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"c02e27a0-123c-302b-bdb3-af912791bcd5","instanceIdentifier":"75154407-c102-3ba4-8beb-7a95156cb761","name":"start_git_flow","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"f64292cd-f9ba-3ef3-b62d-727766f91562","instanceIdentifier":"c8b72db3-6cb9-3039-ae7b-59a7a213f301","name":"LogAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"03403a12-c098-359f-8529-93351c7d570e","instanceIdentifier":"eeba3d85-23b0-33ec-8d15-1652076f210d","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"0c390072-d218-32a1-a36b-351bbd466c39","id":"235bde46-d285-30aa-a618-caeba42e0410","instanceIdentifier":"7273d437-3190-31c9-c4ff-a41edbe228f7","name":"CustomPromptsProcessor","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"0c390072-d218-32a1-a36b-351bbd466c39","inputPorts":[{"allowRemoteAccess":false,"componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"c02e27a0-123c-302b-bdb3-af912791bcd5","instanceIdentifier":"75154407-c102-3ba4-8beb-7a95156cb761","name":"start_git_flow","position":{"x":1070.0000011355098,"y":588.0028479139852},"scheduledState":"ENABLED","type":"INPUT_PORT"}],"instanceIdentifier":"d762eef4-142d-33ac-7b28-123052e7774b","labels":[],"name":"GitHub Flow","outputPorts":[],"parameterContextName":"General-Configuration","position":{"x":1216.0,"y":1160.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-custom-prompts-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"235bde46-d285-30aa-a618-caeba42e0410","instanceIdentifier":"7273d437-3190-31c9-c4ff-a41edbe228f7","maxBackoffPeriod":"10 mins","name":"CustomPromptsProcessor","penaltyDuration":"30 sec","position":{"x":1016.0,"y":776.0},"properties":{"skill":"${skill}","assistant":"${assistant}"},"propertyDescriptors":{"skill":{"displayName":"Skill name","identifiesControllerService":false,"name":"skill","sensitive":false},"assistant":{"displayName":"Assistant name","identifiesControllerService":false,"name":"assistant","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#6fff00"},"type":"com.bmwgroup.nifi.processors.custom.prompts.processors.CustomPromptsProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"f64292cd-f9ba-3ef3-b62d-727766f91562","instanceIdentifier":"c8b72db3-6cb9-3039-ae7b-59a7a213f301","maxBackoffPeriod":"10 mins","name":"LogAttribute","penaltyDuration":"30 sec","position":{"x":360.0,"y":944.0},"properties":{"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log FlowFile Properties":{"displayName":"Log FlowFile Properties","identifiesControllerService":false,"name":"Log FlowFile Properties","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Output Format":{"displayName":"Output Format","identifiesControllerService":false,"name":"Output Format","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{"background-color":"#ff0000"},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-custom-git-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"0c390072-d218-32a1-a36b-351bbd466c39","identifier":"c8e75bbc-2c8d-360f-8c1b-078358a2b6b1","instanceIdentifier":"5c53bf37-d1cf-3a06-f01c-4fbe8ff8f19a","maxBackoffPeriod":"10 mins","name":"CustomGitProcessor","penaltyDuration":"30 sec","position":{"x":1016.0,"y":1096.0},"properties":{"PR body":"Updating properties resources files.","actionType":"${actionType}","Repository":"Speech/assistant-responses-definition","pu":"${pu}","PR title":"Update properties resources","Base Branch":"main","GitHub Token":"#{cc_github_access_token}","status":"${status}"},"propertyDescriptors":{"PR body":{"displayName":"PR body","identifiesControllerService":false,"name":"PR body","sensitive":false},"actionType":{"displayName":"actionType","identifiesControllerService":false,"name":"actionType","sensitive":false},"Repository":{"displayName":"Repository","identifiesControllerService":false,"name":"Repository","sensitive":false},"pu":{"displayName":"Pu","identifiesControllerService":false,"name":"pu","sensitive":false},"PR title":{"displayName":"PR title","identifiesControllerService":false,"name":"PR title","sensitive":false},"Base Branch":{"displayName":"Base Branch","identifiesControllerService":false,"name":"Base Branch","sensitive":false},"GitHub Token":{"displayName":"GitHub Token","identifiesControllerService":false,"name":"GitHub Token","sensitive":true},"status":{"displayName":"Status","identifiesControllerService":false,"name":"status","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.CustomGitProcessor","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"GitHub base branch","name":"cc_github_base_branch","provided":false,"sensitive":false,"value":"develop"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"GitHub user","name":"cc_github_user","provided":false,"sensitive":false,"value":"filipemorgado"},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"GitHub repository","name":"cc_github_repository","provided":false,"sensitive":false,"value":"filipemorgado/custom-nifi-processor"},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"GitHub target file path","name":"cc_github_target_file_path","provided":false,"sensitive":false,"value":"app/src/main/res/resources/"},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"","name":"RouteToAPIResources","provided":false,"sensitive":false,"value":"${clauseWaitingLocalizationAndLocal:or(${clauseWaitingLocalizationAndHybrid})}"},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"GitHub token","name":"cc_github_access_token","provided":false,"sensitive":true},{"description":"","name":"clauseWaitingLocalizationAndHybrid","provided":false,"sensitive":false}]}},"parameterProviders":{},"snapshotMetadata":{"author":"admin@ipa.com","comments":"Git Processor support for multiple pus to create properties","timestamp":1747842867847,"version":3}}