prod-bucket/Directus_Resources_Test/2.json
{"externalControllerServices":{"97b47282-fb75-3364-bcc9-4f756c66154c":{"identifier":"97b47282-fb75-3364-bcc9-4f756c66154c","name":"StandardHttpContextMap"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"970c2597-7c17-3b48-8d1d-99730e7773c4","instanceIdentifier":"4e3587be-4d80-3bad-e4f0-100e6105615e","name":"RouteOnAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"ad306209-74ad-3d37-a647-01699fbbd88f","instanceIdentifier":"a2ed1c31-535b-3b4e-b92b-11f75b006cee","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"9719cf5d-9701-3666-9f98-87e3709545a7","instanceIdentifier":"0d8ae446-74f6-33c7-9fb9-704161406510","name":"Clear attributes","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"dc60bbf9-74bb-3293-8d4d-a93ff708dde0","instanceIdentifier":"9d1d981f-2e7b-3f31-eb3e-2daec3c1890f","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"a7897e07-acba-3661-a7b7-c1aca8419aa4","instanceIdentifier":"4ac60032-ad13-3a37-2a5a-6f5f04c6a200","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"0b603fda-8591-3c13-b154-e832154dfd7c","instanceIdentifier":"c80cf737-c548-36bf-4874-620b90b929bb","name":"HandleHttpRequest","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"1df03fdb-538a-3578-b918-0498c5183c97","instanceIdentifier":"f3531424-9065-3cd6-b9ce-3b2a2413597d","name":"HandleHttpResponse","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"680b44a1-70cc-3277-ae8a-244bc3816d4d","instanceIdentifier":"ed44c52a-0c89-38c6-425a-2f069c88eb22","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"dc60bbf9-74bb-3293-8d4d-a93ff708dde0","instanceIdentifier":"9d1d981f-2e7b-3f31-eb3e-2daec3c1890f","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"259dca64-aff6-3b0a-95c6-f6a6d08b4c23","instanceIdentifier":"99f473e9-7908-3650-522a-e5b0667808bd","name":"delete_resource","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"1d4efc16-09bb-3d00-a49e-c9ba2b3c0462","instanceIdentifier":"57aa0b77-8a03-3a97-f41e-e1268904f1d2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["soft-delete","deleted"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"970c2597-7c17-3b48-8d1d-99730e7773c4","instanceIdentifier":"4e3587be-4d80-3bad-e4f0-100e6105615e","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":704.0,"y":1520.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"62419301-bc17-31bb-8de9-087278b289c6","instanceIdentifier":"ed691597-4440-3160-2219-8bdf340b7964","name":"upsert_resource","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"372697f2-d0d9-3963-80a6-4fefa0b7ea98","instanceIdentifier":"d8bbd25e-9dae-3104-b0c0-13a5b48006b1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["deleted"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"970c2597-7c17-3b48-8d1d-99730e7773c4","instanceIdentifier":"4e3587be-4d80-3bad-e4f0-100e6105615e","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"62419301-bc17-31bb-8de9-087278b289c6","instanceIdentifier":"ed691597-4440-3160-2219-8bdf340b7964","name":"upsert_resource","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"4a0e6dbc-cd62-30bc-a858-b5df6554fb4d","instanceIdentifier":"43aecbf2-b0a9-3691-b68d-87d90d55762b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"970c2597-7c17-3b48-8d1d-99730e7773c4","instanceIdentifier":"4e3587be-4d80-3bad-e4f0-100e6105615e","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"9719cf5d-9701-3666-9f98-87e3709545a7","instanceIdentifier":"0d8ae446-74f6-33c7-9fb9-704161406510","name":"Clear attributes","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"d8ca4b6a-d673-377a-a26e-bd66cb84e17a","instanceIdentifier":"5389ccc3-bc96-3f2c-8161-5130d9e4cb3b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"a616bb8d-ab90-3396-9d2e-826308e65b8e","id":"1df03fdb-538a-3578-b918-0498c5183c97","instanceIdentifier":"f3531424-9065-3cd6-b9ce-3b2a2413597d","name":"HandleHttpResponse","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"identifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","inputPorts":[],"instanceIdentifier":"2a905ccb-666a-384e-3503-d2e0db92ff90","labels":[],"name":"Directus Hook","outputPorts":[{"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"259dca64-aff6-3b0a-95c6-f6a6d08b4c23","instanceIdentifier":"99f473e9-7908-3650-522a-e5b0667808bd","name":"delete_resource","position":{"x":840.0,"y":1344.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"62419301-bc17-31bb-8de9-087278b289c6","instanceIdentifier":"ed691597-4440-3160-2219-8bdf340b7964","name":"upsert_resource","position":{"x":224.0,"y":1464.0},"scheduledState":"ENABLED","type":"OUTPUT_PORT"}],"position":{"x":168.0,"y":24.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"0b603fda-8591-3c13-b154-e832154dfd7c","instanceIdentifier":"c80cf737-c548-36bf-4874-620b90b929bb","maxBackoffPeriod":"10 mins","name":"HandleHttpRequest","penaltyDuration":"30 sec","position":{"x":495.0,"y":237.0},"properties":{"multipart-request-max-size":"1 MB","Allow POST":"true","Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","container-queue-size":"50","HTTP Context Map":"97b47282-fb75-3364-bcc9-4f756c66154c","multipart-read-buffer-size":"512 KB","Allow OPTIONS":"false","Allowed Paths":"/webhook","Allow GET":"true","Allow HEAD":"false","Listening Port":"8888","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"displayName":"Multipart Request Max Size","identifiesControllerService":false,"name":"multipart-request-max-size","sensitive":false},"parameters-to-attributes":{"displayName":"Parameters to Attributes List","identifiesControllerService":false,"name":"parameters-to-attributes","sensitive":false},"Allow POST":{"displayName":"Allow POST","identifiesControllerService":false,"name":"Allow POST","sensitive":false},"Hostname":{"displayName":"Hostname","identifiesControllerService":false,"name":"Hostname","sensitive":false},"Default URL Character Set":{"displayName":"Default URL Character Set","identifiesControllerService":false,"name":"Default URL Character Set","sensitive":false},"Allow DELETE":{"displayName":"Allow DELETE","identifiesControllerService":false,"name":"Allow DELETE","sensitive":false},"Maximum Threads":{"displayName":"Maximum Threads","identifiesControllerService":false,"name":"Maximum Threads","sensitive":false},"HTTP Protocols":{"displayName":"HTTP Protocols","identifiesControllerService":false,"name":"HTTP Protocols","sensitive":false},"Additional HTTP Methods":{"displayName":"Additional HTTP Methods","identifiesControllerService":false,"name":"Additional HTTP Methods","sensitive":false},"container-queue-size":{"displayName":"Container Queue Size","identifiesControllerService":false,"name":"container-queue-size","sensitive":false},"HTTP Context Map":{"displayName":"HTTP Context Map","identifiesControllerService":true,"name":"HTTP Context Map","sensitive":false},"multipart-read-buffer-size":{"displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"name":"multipart-read-buffer-size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Allow OPTIONS":{"displayName":"Allow OPTIONS","identifiesControllerService":false,"name":"Allow OPTIONS","sensitive":false},"Allowed Paths":{"displayName":"Allowed Paths","identifiesControllerService":false,"name":"Allowed Paths","sensitive":false},"Allow GET":{"displayName":"Allow GET","identifiesControllerService":false,"name":"Allow GET","sensitive":false},"Allow HEAD":{"displayName":"Allow HEAD","identifiesControllerService":false,"name":"Allow HEAD","sensitive":false},"Listening Port":{"displayName":"Listening Port","identifiesControllerService":false,"name":"Listening Port","sensitive":false},"Client Authentication":{"displayName":"Client Authentication","identifiesControllerService":false,"name":"Client Authentication","sensitive":false},"Allow PUT":{"displayName":"Allow PUT","identifiesControllerService":false,"name":"Allow PUT","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"970c2597-7c17-3b48-8d1d-99730e7773c4","instanceIdentifier":"4e3587be-4d80-3bad-e4f0-100e6105615e","maxBackoffPeriod":"10 mins","name":"RouteOnAttribute","penaltyDuration":"30 sec","position":{"x":496.0,"y":1144.0},"properties":{"soft-delete":"${status:equals('deleted')}","Routing Strategy":"Route to Property name","deleted":"${actionType:equals('delete')}"},"propertyDescriptors":{"soft-delete":{"displayName":"soft-delete","identifiesControllerService":false,"name":"soft-delete","sensitive":false},"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"deleted":{"displayName":"deleted","identifiesControllerService":false,"name":"deleted","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"1df03fdb-538a-3578-b918-0498c5183c97","instanceIdentifier":"f3531424-9065-3cd6-b9ce-3b2a2413597d","maxBackoffPeriod":"10 mins","name":"HandleHttpResponse","penaltyDuration":"30 sec","position":{"x":496.0,"y":720.0},"properties":{"HTTP Context Map":"97b47282-fb75-3364-bcc9-4f756c66154c","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"displayName":"HTTP Context Map","identifiesControllerService":true,"name":"HTTP Context Map","sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"name":"Attributes to add to the HTTP Response (Regex)","sensitive":false},"HTTP Status Code":{"displayName":"HTTP Status Code","identifiesControllerService":false,"name":"HTTP Status Code","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"dc60bbf9-74bb-3293-8d4d-a93ff708dde0","instanceIdentifier":"9d1d981f-2e7b-3f31-eb3e-2daec3c1890f","maxBackoffPeriod":"10 mins","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":496.0,"y":472.0},"properties":{"Destination":"flowfile-attribute","responseKey":"$.responseKey","pu":"$.productUpdate","Return Type":"auto-detect","assistant":"$.assistant","Null Value Representation":"empty string","availability":"$.availability","Path Not Found Behavior":"ignore","tableName":"$.tableName","itemId":"$.itemId","actionType":"$.actionType","skill":"$.skill","status":"$.status"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"responseKey":{"displayName":"responseKey","identifiesControllerService":false,"name":"responseKey","sensitive":false},"pu":{"displayName":"pu","identifiesControllerService":false,"name":"pu","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"assistant":{"displayName":"assistant","identifiesControllerService":false,"name":"assistant","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"availability":{"displayName":"availability","identifiesControllerService":false,"name":"availability","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"tableName":{"displayName":"tableName","identifiesControllerService":false,"name":"tableName","sensitive":false},"itemId":{"displayName":"itemId","identifiesControllerService":false,"name":"itemId","sensitive":false},"actionType":{"displayName":"actionType","identifiesControllerService":false,"name":"actionType","sensitive":false},"skill":{"displayName":"skill","identifiesControllerService":false,"name":"skill","sensitive":false},"status":{"displayName":"status","identifiesControllerService":false,"name":"status","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"a616bb8d-ab90-3396-9d2e-826308e65b8e","identifier":"9719cf5d-9701-3666-9f98-87e3709545a7","instanceIdentifier":"0d8ae446-74f6-33c7-9fb9-704161406510","maxBackoffPeriod":"10 mins","name":"Clear attributes","penaltyDuration":"30 sec","position":{"x":496.0,"y":944.0},"properties":{"Delete Attributes Expression":"http\\..*","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"parameterProviders":{},"snapshotMetadata":{"author":"admin@ipa.com","comments":"Updated skill and pu properties to be received","timestamp":1747842920172,"version":2}}