dev-bucket/APIResourcesFlow/1.json
{"externalControllerServices":{},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":696.0,"y":376.0}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"dd2bce42-ca3d-3194-953e-49b187738632","instanceIdentifier":"e2c61373-92c7-364f-278d-93041789cdf4","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"f73672b5-19a0-34b8-bd5d-56bc2b757fea","instanceIdentifier":"dddac994-8e61-303e-eb00-c78b36a2c1c4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["api_error"],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"60aed848-1745-34b0-b794-26a137d0237a","instanceIdentifier":"f7a8c3dc-7a88-3059-d699-c42f90657ba0","name":"ApiResourcesProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"60aed848-1745-34b0-b794-26a137d0237a","instanceIdentifier":"f7a8c3dc-7a88-3059-d699-c42f90657ba0","name":"ApiResourcesProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"47e3ce98-0d5a-3c0d-8631-be813543368b","instanceIdentifier":"ee370785-e24d-3346-184e-e6034f0d9702","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"dd2bce42-ca3d-3194-953e-49b187738632","instanceIdentifier":"e2c61373-92c7-364f-278d-93041789cdf4","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"03bb6b5e-56ae-3d8d-b275-8fd09470b211","instanceIdentifier":"550a2103-7a79-3e13-2e71-46e2f69f3610","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"74d08b93-5d8f-382f-a5cd-4f17b9251b6c","instanceIdentifier":"43e6aa19-0106-33cc-2764-6f7f32e7bfdb","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure"],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"dd2bce42-ca3d-3194-953e-49b187738632","instanceIdentifier":"e2c61373-92c7-364f-278d-93041789cdf4","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"ad87e4d7-4d44-3850-903e-d0bce9a56c67","instanceIdentifier":"eb2cf0ca-21bb-344b-a0b1-afff4c377190","name":"CustomGitProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"87b4f024-db05-3ceb-b190-c37a7a17143f","instanceIdentifier":"b8fdc437-5f1f-3195-6830-20b9a9669c87","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"60aed848-1745-34b0-b794-26a137d0237a","instanceIdentifier":"f7a8c3dc-7a88-3059-d699-c42f90657ba0","name":"ApiResourcesProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"dd2bce42-ca3d-3194-953e-49b187738632","instanceIdentifier":"e2c61373-92c7-364f-278d-93041789cdf4","name":"attachAuthTokenProcessor","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"12c62df0-41b3-3054-90a4-57c3ba228df8","instanceIdentifier":"7f299ca2-3fab-344f-1704-71488c99c0cc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"58d1416d-fb41-33e3-b932-1b110b85cbf4","instanceIdentifier":"539f2cb1-3841-325f-1760-3e93d893883a","name":"upload_port","type":"INPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"03bb6b5e-56ae-3d8d-b275-8fd09470b211","instanceIdentifier":"550a2103-7a79-3e13-2e71-46e2f69f3610","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"5122befb-3b90-39d6-a651-ca40df2ce0ad","instanceIdentifier":"bcea8e32-82c0-3338-6a81-68d2736134b1","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["error"],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"60aed848-1745-34b0-b794-26a137d0237a","instanceIdentifier":"f7a8c3dc-7a88-3059-d699-c42f90657ba0","name":"ApiResourcesProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"03bb6b5e-56ae-3d8d-b275-8fd09470b211","instanceIdentifier":"550a2103-7a79-3e13-2e71-46e2f69f3610","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"0f72c9a4-1c60-3f5e-8736-4c88f7773d30","instanceIdentifier":"66fcfb5a-1225-3d36-85f5-eaf93e6167c5","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["error"],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"ad87e4d7-4d44-3850-903e-d0bce9a56c67","instanceIdentifier":"eb2cf0ca-21bb-344b-a0b1-afff4c377190","name":"CustomGitProcessor","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"b0c36129-96d8-352d-a101-17ed305597fd","instanceIdentifier":"4ac30003-80c1-3455-257e-761c81c9b834","name":"LogAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"d233cb84-3eef-37d7-9e16-009d48f90022","instanceIdentifier":"0ff53914-4355-33ca-f2c2-ce73bdcb9aba","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","id":"03bb6b5e-56ae-3d8d-b275-8fd09470b211","instanceIdentifier":"550a2103-7a79-3e13-2e71-46e2f69f3610","name":"Funnel","type":"FUNNEL"},"zIndex":0}],"controllerServices":[],"defaultBackPressureDataSizeThreshold":"1 GB","defaultBackPressureObjectThreshold":10000,"defaultFlowFileExpiration":"0 sec","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"03bb6b5e-56ae-3d8d-b275-8fd09470b211","instanceIdentifier":"550a2103-7a79-3e13-2e71-46e2f69f3610","position":{"x":1600.0,"y":472.0}}],"identifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","inputPorts":[{"allowRemoteAccess":false,"componentType":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"58d1416d-fb41-33e3-b932-1b110b85cbf4","instanceIdentifier":"539f2cb1-3841-325f-1760-3e93d893883a","name":"upload_port","position":{"x":960.0,"y":56.0},"scheduledState":"ENABLED","type":"INPUT_PORT"}],"instanceIdentifier":"78a5b806-db62-36cc-bacf-c02a354c72bf","labels":[],"name":"API Resources Group","outputPorts":[],"parameterContextName":"General-Configuration","position":{"x":1616.0,"y":824.0},"processGroups":[],"processors":[{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-custom.api.resources-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"60aed848-1745-34b0-b794-26a137d0237a","instanceIdentifier":"f7a8c3dc-7a88-3059-d699-c42f90657ba0","maxBackoffPeriod":"10 mins","name":"ApiResourcesProcessor","penaltyDuration":"30 sec","position":{"x":904.0,"y":432.0},"properties":{"BASE URL":"#{directus_hostname}","actionType":"${actionType}","pu":"${pu}","assistant":"${assistant}","availability":"${availability}"},"propertyDescriptors":{"BASE URL":{"displayName":"BASE URL","identifiesControllerService":false,"name":"BASE URL","sensitive":false},"actionType":{"displayName":"actionType","identifiesControllerService":false,"name":"actionType","sensitive":false},"pu":{"displayName":"Pu","identifiesControllerService":false,"name":"pu","sensitive":false},"assistant":{"displayName":"Assistant name","identifiesControllerService":false,"name":"assistant","sensitive":false},"availability":{"displayName":"Availability status","identifiesControllerService":false,"name":"availability","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.custom.api.resources.processors.ApiResourcesProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-attachAuthToken-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"dd2bce42-ca3d-3194-953e-49b187738632","instanceIdentifier":"e2c61373-92c7-364f-278d-93041789cdf4","maxBackoffPeriod":"10 mins","name":"attachAuthTokenProcessor","penaltyDuration":"30 sec","position":{"x":904.0,"y":200.0},"properties":{"BASE URL":"#{directus_hostname}","PASSWORD":"#{directus_password}","USERNAME":"admin@ipa.com"},"propertyDescriptors":{"BASE URL":{"displayName":"BASE URL","identifiesControllerService":false,"name":"BASE URL","sensitive":false},"PASSWORD":{"displayName":"PASSWORD","identifiesControllerService":false,"name":"PASSWORD","sensitive":true},"USERNAME":{"displayName":"USERNAME","identifiesControllerService":false,"name":"USERNAME","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.attachAuthToken.attachAuthTokenProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-custom-git-nar","group":"com.bmwgroup.nifi","version":"1.0.0"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"ad87e4d7-4d44-3850-903e-d0bce9a56c67","instanceIdentifier":"eb2cf0ca-21bb-344b-a0b1-afff4c377190","maxBackoffPeriod":"10 mins","name":"CustomGitProcessor","penaltyDuration":"30 sec","position":{"x":904.0,"y":752.0},"properties":{"PR body":"Updating API resources files.","actionType":"${actionType}","Repository":"Speech/assistant-responses-definition","pu":"${pu}","PR title":"Update API resources","Base Branch":"main","GitHub Token":"#{cc_github_access_token}","status":"${status}"},"propertyDescriptors":{"PR body":{"displayName":"PR body","identifiesControllerService":false,"name":"PR body","sensitive":false},"actionType":{"displayName":"actionType","identifiesControllerService":false,"name":"actionType","sensitive":false},"Repository":{"displayName":"Repository","identifiesControllerService":false,"name":"Repository","sensitive":false},"pu":{"displayName":"Pu","identifiesControllerService":false,"name":"pu","sensitive":false},"PR title":{"displayName":"PR title","identifiesControllerService":false,"name":"PR title","sensitive":false},"Base Branch":{"displayName":"Base Branch","identifiesControllerService":false,"name":"Base Branch","sensitive":false},"GitHub Token":{"displayName":"GitHub Token","identifiesControllerService":false,"name":"GitHub Token","sensitive":true},"status":{"displayName":"Status","identifiesControllerService":false,"name":"status","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"com.bmwgroup.nifi.processors.CustomGitProcessor","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.19.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"5d471cbf-8b59-34e1-b7fc-99bc7037ba20","identifier":"b0c36129-96d8-352d-a101-17ed305597fd","instanceIdentifier":"4ac30003-80c1-3455-257e-761c81c9b834","maxBackoffPeriod":"10 mins","name":"LogAttribute","penaltyDuration":"30 sec","position":{"x":1968.0,"y":432.0},"properties":{"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log FlowFile Properties":{"displayName":"Log FlowFile Properties","identifiesControllerService":false,"name":"Log FlowFile Properties","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Output Format":{"displayName":"Output Format","identifiesControllerService":false,"name":"Output Format","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"retriedRelationships":[],"retryCount":10,"runDurationMillis":25,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{"General-Configuration":{"componentType":"PARAMETER_CONTEXT","inheritedParameterContexts":[],"name":"General-Configuration","parameters":[{"description":"","name":"directus_user","provided":false,"sensitive":false,"value":"admin@ipa.com"},{"description":"GitHub base branch","name":"cc_github_base_branch","provided":false,"sensitive":false,"value":"develop"},{"description":"","name":"directus_token_identifier","provided":false,"sensitive":false,"value":"directus_token"},{"description":"GitHub user","name":"cc_github_user","provided":false,"sensitive":false,"value":"filipemorgado"},{"description":"","name":"directus_password_test","provided":false,"sensitive":true},{"description":"","name":"directus_cache_identifier","provided":false,"sensitive":false,"value":"directus_auth"},{"description":"KeyStore FileName","name":"keystore_filename","provided":false,"sensitive":false,"value":"/opt/nifi/nifi-current/conf/keystore.jks"},{"description":"KeyStore Type","name":"keystore_type","provided":false,"sensitive":false,"value":"JKS"},{"description":"GitHub repository","name":"cc_github_repository","provided":false,"sensitive":false,"value":"Speech/assistant-responses-definition"},{"description":"","name":"directus_auth_path","provided":false,"sensitive":false,"value":"auth/login"},{"description":"","name":"directus_hostname","provided":false,"sensitive":false,"value":"http://cms-app-v9.cms.svc.cluster.local"},{"description":"Directus Password","name":"directus_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_port","provided":false,"sensitive":false,"value":"4557"},{"description":"GitHub target file path","name":"cc_github_target_file_path","provided":false,"sensitive":false,"value":"app/src/main/res/resources/"},{"description":"","name":"RouteToAPIResources","provided":false,"sensitive":false,"value":"${clauseWaitingLocalizationAndLocal:or(${clauseWaitingLocalizationAndHybrid})}"},{"description":"Key Password","name":"key_password","provided":false,"sensitive":true},{"description":"","name":"distributed_map_cache_hostname","provided":false,"sensitive":false,"value":"localhost"},{"description":"GitHub token","name":"cc_github_access_token","provided":false,"sensitive":true},{"description":"","name":"clauseWaitingLocalizationAndHybrid","provided":false,"sensitive":false},{"description":"KeyStore Password","name":"keystore_password","provided":false,"sensitive":true}]}},"parameterProviders":{},"snapshotMetadata":{"author":"hephzibah.gabriel@ctw.bmwgroup.com","comments":"set directus_password and github_token on ApiResource flow","timestamp":1754569823403,"version":1}}