prod-bucket/directus-webhook-v9/3.json
{"externalControllerServices":{"12034f34-dffa-376e-a945-9b3f545f39ca":{"identifier":"12034f34-dffa-376e-a945-9b3f545f39ca","name":"StandardHttpContextMap"}},"flowContents":{"comments":"","componentType":"PROCESS_GROUP","connections":[{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"2f9c0799-6865-30db-b1fa-04a604c67f47","name":"start_deletion","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"a366dcf2-98c4-3eda-a699-ed594004a3b6","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["soft-delete","delete"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a8738405-9246-395e-b8ad-8fb64e47eca0","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"fb8d2eda-0583-33cf-a8e3-652bcd01ad6d","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"d0b059da-d087-3cc1-a30b-708da0894c1f","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"845bf2fc-6e13-32fe-a574-e67981cbbbaa","name":"Extract ID","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"379b47cd-ed0e-3ba7-be24-03f20eec3ea4","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"14d5c0bc-3230-33dc-a970-b17b09676dd4","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure","unmatched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"9724cdba-e400-3911-8a1d-effe09a4d879","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"9724cdba-e400-3911-8a1d-effe09a4d879","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"ba5110b8-8fe9-33e0-95d1-f822c4e618fa","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"2edb0a71-c7d5-3e53-84c7-9c9c350ac04c","id":"24cfa9b2-9074-3e11-b0cd-e43cb2fb9e41","name":"end_get_resources","type":"OUTPUT_PORT"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[{"x":1227.0000219053022,"y":1150.0000057331265}],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"e2cc39ac-c8f0-3502-b945-511df7eb5897","name":"Prepare http request","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"db9cf183-032f-31e0-81de-26d49f2c7f70","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"fb8d2eda-0583-33cf-a8e3-652bcd01ad6d","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"fb8d2eda-0583-33cf-a8e3-652bcd01ad6d","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"90d03ea2-ed6b-3afe-9fda-a885d011ab03","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a523dfe4-2260-37d0-8393-407d426e6c1c","name":"Extract ID","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"c789b461-816c-3c71-81da-2548ed6c0e5f","name":"RouteOnAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"7c46ec58-e1be-39f0-951f-4b2d1f133bed","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"e6e25fdc-2679-3aaa-8582-47fb966bce1e","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"7574998f-fcac-3ea8-86cd-001ac9e49b66","name":"SplitJson","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"86cf71d0-482c-3df2-a62c-42918d0ec234","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["update"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"c789b461-816c-3c71-81da-2548ed6c0e5f","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"0e714b66-a50d-3fd1-8fe8-2da4f13355f1","name":"LogAttributeFailure","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"7904da63-6567-3032-89b1-a25f8e3766f2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":[""],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"379b47cd-ed0e-3ba7-be24-03f20eec3ea4","name":"Funnel","type":"FUNNEL"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"116e096b-6b1c-3978-bec2-8ced6f8c4325","name":"HandleHttpResponse","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"cfb9c56a-9483-30ec-acb0-c6ad0e4969cc","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["matched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"9724cdba-e400-3911-8a1d-effe09a4d879","name":"EvaluateJsonPath","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"31c9753c-d267-333f-94f3-f64337f28484","name":"put_dynamodb","type":"OUTPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"3d895874-37d2-3280-8172-c581bd804ae2","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["upsert"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a8738405-9246-395e-b8ad-8fb64e47eca0","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"379b47cd-ed0e-3ba7-be24-03f20eec3ea4","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"ea24fc09-1cd1-373d-bc99-939ee17bb8cf","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["unmatched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a8738405-9246-395e-b8ad-8fb64e47eca0","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"e6e25fdc-2679-3aaa-8582-47fb966bce1e","name":"EvaluateJsonPath","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"99a5c6a1-0638-304a-9495-c9f216247d48","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"ae768ed1-c870-3272-a70b-0a565d99a15e","name":"Listen for webhook","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a523dfe4-2260-37d0-8393-407d426e6c1c","name":"Extract ID","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"4372abb9-2230-3a9c-a680-4c038a61c679","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["insert"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"c789b461-816c-3c71-81da-2548ed6c0e5f","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a8738405-9246-395e-b8ad-8fb64e47eca0","name":"RouteOnAttribute","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"f5ee3d01-0eb7-3266-accf-4cdd993ec5e6","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"116e096b-6b1c-3978-bec2-8ced6f8c4325","name":"HandleHttpResponse","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"845bf2fc-6e13-32fe-a574-e67981cbbbaa","name":"Extract ID","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"28c44d22-2204-31fc-86ac-728741ab76ac","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["split"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"60dabab8-673e-3be7-acff-7dbc6e2f71da","name":"SplitJson","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"379b47cd-ed0e-3ba7-be24-03f20eec3ea4","name":"Funnel","type":"FUNNEL"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"4fcb6258-642b-3960-bf85-fcbf8da1e47b","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["failure","unmatched"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"a523dfe4-2260-37d0-8393-407d426e6c1c","name":"Extract ID","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"2edb0a71-c7d5-3e53-84c7-9c9c350ac04c","id":"816d8dbd-c8e7-3199-bdf0-9ff3277e919b","name":"start_get_resource","type":"INPUT_PORT"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"a185c6f5-25c8-3577-ab65-6b14aab30ca0","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["success"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"e2cc39ac-c8f0-3502-b945-511df7eb5897","name":"Prepare http request","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"60dabab8-673e-3be7-acff-7dbc6e2f71da","name":"SplitJson","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"689ef04c-0455-3c55-bc9a-419e4ffe0311","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["delete"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"c789b461-816c-3c71-81da-2548ed6c0e5f","name":"RouteOnAttribute","type":"PROCESSOR"},"zIndex":0},{"backPressureDataSizeThreshold":"1 GB","backPressureObjectThreshold":10000,"bends":[],"componentType":"CONNECTION","destination":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"845bf2fc-6e13-32fe-a574-e67981cbbbaa","name":"Extract ID","type":"PROCESSOR"},"flowFileExpiration":"0 sec","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"2d0cce89-2cb8-33ea-b135-736fe3e28fd7","labelIndex":1,"loadBalanceCompression":"DO_NOT_COMPRESS","loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","name":"","partitioningAttribute":"","prioritizers":[],"selectedRelationships":["split"],"source":{"comments":"","groupId":"db71712c-ae8b-37c5-9a2e-0656daca82ca","id":"7574998f-fcac-3ea8-86cd-001ac9e49b66","name":"SplitJson","type":"PROCESSOR"},"zIndex":0}],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[{"componentType":"FUNNEL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"fb8d2eda-0583-33cf-a8e3-652bcd01ad6d","position":{"x":1387.0000219053022,"y":1094.0000057331265}},{"componentType":"FUNNEL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"379b47cd-ed0e-3ba7-be24-03f20eec3ea4","position":{"x":1675.0000219053022,"y":1430.0000057331265}}],"identifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","inputPorts":[],"labels":[],"name":"Directus WebHook","outputPorts":[{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"31c9753c-d267-333f-94f3-f64337f28484","name":"put_dynamodb","position":{"x":523.0000219053022,"y":2374.0000057331267},"type":"OUTPUT_PORT"},{"allowRemoteAccess":false,"comments":"","componentType":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"2f9c0799-6865-30db-b1fa-04a604c67f47","name":"start_deletion","position":{"x":1163.0000219053022,"y":2382.0000057331267},"type":"OUTPUT_PORT"}],"position":{"x":1952.0,"y":488.0},"processGroups":[{"comments":"Get resource with retry policy and authentication","componentType":"PROCESS_GROUP","connections":[],"controllerServices":[],"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","funnels":[],"groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"2edb0a71-c7d5-3e53-84c7-9c9c350ac04c","inputPorts":[],"labels":[],"name":"Get Resource Dataflow","outputPorts":[],"parameterContextName":"General-Configuration","position":{"x":688.0,"y":1328.0},"processGroups":[],"processors":[],"remoteProcessGroups":[],"variables":{},"versionedFlowCoordinates":{"bucketId":"aa358e7e-32a7-4fe8-bc6e-7735089de3d3","flowId":"044701c6-490b-4d7e-8db8-4dea2f09f4a1","registryUrl":"https://nifi-registry.cms.svc.cluster.local:18443","version":2}}],"processors":[{"autoTerminatedRelationships":["failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"116e096b-6b1c-3978-bec2-8ced6f8c4325","name":"HandleHttpResponse","penaltyDuration":"30 sec","position":{"x":707.0000219053022,"y":1886.0000057331265},"properties":{"HTTP Context Map":"12034f34-dffa-376e-a945-9b3f545f39ca","HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"displayName":"HTTP Context Map","identifiesControllerService":true,"name":"HTTP Context Map","sensitive":false},"HTTP Status Code":{"displayName":"HTTP Status Code","identifiesControllerService":false,"name":"HTTP Status Code","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-update-attribute-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"e2cc39ac-c8f0-3502-b945-511df7eb5897","name":"Prepare http request","penaltyDuration":"30 sec","position":{"x":683.0000219053022,"y":1118.0000057331265},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","custom.uri":"/revisions?filter={\"collection\":{\"_eq\":\"${tableName}\"},\"item\":{\"_eq\":\"${itemId}\"}}&sort=-activity&fields[]=data","custom.jolt.config":"[{ \"operation\": \"shift\", \"spec\": { \"*\": { \"*\": \"[]\" } } }]"},"propertyDescriptors":{"Delete Attributes Expression":{"displayName":"Delete Attributes Expression","identifiesControllerService":false,"name":"Delete Attributes Expression","sensitive":false},"Store State":{"displayName":"Store State","identifiesControllerService":false,"name":"Store State","sensitive":false},"canonical-value-lookup-cache-size":{"displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"name":"canonical-value-lookup-cache-size","sensitive":false},"custom.uri":{"displayName":"custom.uri","identifiesControllerService":false,"name":"custom.uri","sensitive":false},"custom.jolt.config":{"displayName":"custom.jolt.config","identifiesControllerService":false,"name":"custom.jolt.config","sensitive":false},"Stateful Variables Initial Value":{"displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"name":"Stateful Variables Initial Value","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["failure","unmatched"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"e6e25fdc-2679-3aaa-8582-47fb966bce1e","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":1003.0000219053022,"y":382.00000573312656},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","eventType":"$.event","Path Not Found Behavior":"ignore","tableName":"$.collection"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"eventType":{"displayName":"eventType","identifiesControllerService":false,"name":"eventType","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"tableName":{"displayName":"tableName","identifiesControllerService":false,"name":"tableName","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"60dabab8-673e-3be7-acff-7dbc6e2f71da","name":"SplitJson","penaltyDuration":"30 sec","position":{"x":1736.0,"y":632.0},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.payload"},"propertyDescriptors":{"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"JsonPath Expression":{"displayName":"JsonPath Expression","identifiesControllerService":false,"name":"JsonPath Expression","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitJson","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"ae768ed1-c870-3272-a70b-0a565d99a15e","name":"Listen for webhook","penaltyDuration":"30 sec","position":{"x":987.0000219053022,"y":142.00000573312656},"properties":{"multipart-request-max-size":"1 MB","Allow POST":"true","Default URL Character Set":"UTF-8","Allow DELETE":"true","container-queue-size":"50","HTTP Context Map":"12034f34-dffa-376e-a945-9b3f545f39ca","multipart-read-buffer-size":"512 KB","Allow OPTIONS":"false","Allowed Paths":"/webhook","Allow GET":"true","Allow HEAD":"false","Listening Port":"8888","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"displayName":"Multipart Request Max Size","identifiesControllerService":false,"name":"multipart-request-max-size","sensitive":false},"Allow POST":{"displayName":"Allow POST","identifiesControllerService":false,"name":"Allow POST","sensitive":false},"Hostname":{"displayName":"Hostname","identifiesControllerService":false,"name":"Hostname","sensitive":false},"Default URL Character Set":{"displayName":"Default URL Character Set","identifiesControllerService":false,"name":"Default URL Character Set","sensitive":false},"Allow DELETE":{"displayName":"Allow DELETE","identifiesControllerService":false,"name":"Allow DELETE","sensitive":false},"Additional HTTP Methods":{"displayName":"Additional HTTP Methods","identifiesControllerService":false,"name":"Additional HTTP Methods","sensitive":false},"container-queue-size":{"displayName":"Container Queue Size","identifiesControllerService":false,"name":"container-queue-size","sensitive":false},"HTTP Context Map":{"displayName":"HTTP Context Map","identifiesControllerService":true,"name":"HTTP Context Map","sensitive":false},"multipart-read-buffer-size":{"displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"name":"multipart-read-buffer-size","sensitive":false},"SSL Context Service":{"displayName":"SSL Context Service","identifiesControllerService":true,"name":"SSL Context Service","sensitive":false},"Allow OPTIONS":{"displayName":"Allow OPTIONS","identifiesControllerService":false,"name":"Allow OPTIONS","sensitive":false},"Allowed Paths":{"displayName":"Allowed Paths","identifiesControllerService":false,"name":"Allowed Paths","sensitive":false},"Allow GET":{"displayName":"Allow GET","identifiesControllerService":false,"name":"Allow GET","sensitive":false},"Allow HEAD":{"displayName":"Allow HEAD","identifiesControllerService":false,"name":"Allow HEAD","sensitive":false},"Listening Port":{"displayName":"Listening Port","identifiesControllerService":false,"name":"Listening Port","sensitive":false},"Client Authentication":{"displayName":"Client Authentication","identifiesControllerService":false,"name":"Client Authentication","sensitive":false},"Allow PUT":{"displayName":"Allow PUT","identifiesControllerService":false,"name":"Allow PUT","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["unmatched"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"845bf2fc-6e13-32fe-a574-e67981cbbbaa","name":"Extract ID","penaltyDuration":"30 sec","position":{"x":2424.0,"y":544.0},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","itemId":".*","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"name":"Enable Unicode Predefined Character Classes","sensitive":false},"Permit Whitespace and Comments in Pattern":{"displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"name":"Permit Whitespace and Comments in Pattern","sensitive":false},"Enable Unicode-aware Case Folding":{"displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"name":"Enable Unicode-aware Case Folding","sensitive":false},"Enable DOTALL Mode":{"displayName":"Enable DOTALL Mode","identifiesControllerService":false,"name":"Enable DOTALL Mode","sensitive":false},"Enable Unix Lines Mode":{"displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"name":"Enable Unix Lines Mode","sensitive":false},"Maximum Buffer Size":{"displayName":"Maximum Buffer Size","identifiesControllerService":false,"name":"Maximum Buffer Size","sensitive":false},"Enable Canonical Equivalence":{"displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"name":"Enable Canonical Equivalence","sensitive":false},"Enable Case-insensitive Matching":{"displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"name":"Enable Case-insensitive Matching","sensitive":false},"itemId":{"displayName":"itemId","identifiesControllerService":false,"name":"itemId","sensitive":false},"Enable Multiline Mode":{"displayName":"Enable Multiline Mode","identifiesControllerService":false,"name":"Enable Multiline Mode","sensitive":false},"Maximum Capture Group Length":{"displayName":"Maximum Capture Group Length","identifiesControllerService":false,"name":"Maximum Capture Group Length","sensitive":false},"Enable Literal Parsing of the Pattern":{"displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"name":"Enable Literal Parsing of the Pattern","sensitive":false},"Character Set":{"displayName":"Character Set","identifiesControllerService":false,"name":"Character Set","sensitive":false},"Include Capture Group 0":{"displayName":"Include Capture Group 0","identifiesControllerService":false,"name":"Include Capture Group 0","sensitive":false},"extract-text-enable-repeating-capture-group":{"displayName":"Enable repeating capture group","identifiesControllerService":false,"name":"extract-text-enable-repeating-capture-group","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.ExtractText","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["original","failure"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"7574998f-fcac-3ea8-86cd-001ac9e49b66","name":"SplitJson","penaltyDuration":"30 sec","position":{"x":1728.0,"y":472.0},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.keys"},"propertyDescriptors":{"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"JsonPath Expression":{"displayName":"JsonPath Expression","identifiesControllerService":false,"name":"JsonPath Expression","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.SplitJson","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"9724cdba-e400-3911-8a1d-effe09a4d879","name":"EvaluateJsonPath","penaltyDuration":"30 sec","position":{"x":699.0000219053022,"y":1638.0000057331265},"properties":{"Destination":"flowfile-attribute","responseKey":"$.[0].data.name","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","status":"$.[0].data.status"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"responseKey":{"displayName":"responseKey","identifiesControllerService":false,"name":"responseKey","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false},"status":{"displayName":"status","identifiesControllerService":false,"name":"status","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["unmatched"],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"c789b461-816c-3c71-81da-2548ed6c0e5f","name":"RouteOnAttribute","penaltyDuration":"30 sec","position":{"x":1011.0000219053022,"y":630.0000057331265},"properties":{"Routing Strategy":"Route to Property name","insert":"${eventType:equals('items.create')}","update":"${eventType:equals('items.update')}","delete":"${eventType:equals('items.delete')}"},"propertyDescriptors":{"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"insert":{"displayName":"insert","identifiesControllerService":false,"name":"insert","sensitive":false},"update":{"displayName":"update","identifiesControllerService":false,"name":"update","sensitive":false},"delete":{"displayName":"delete","identifiesControllerService":false,"name":"delete","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"a8738405-9246-395e-b8ad-8fb64e47eca0","name":"RouteOnAttribute","penaltyDuration":"30 sec","position":{"x":699.0000219053022,"y":2150.0000057331267},"properties":{"soft-delete":"${status:equals('deleted')}","Routing Strategy":"Route to Property name","upsert":"${eventType:in('items.create', 'items.update'):and(${status:equals('deleted'):not()})}","delete":"${eventType:equals('items.delete')}"},"propertyDescriptors":{"soft-delete":{"displayName":"soft-delete","identifiesControllerService":false,"name":"soft-delete","sensitive":false},"Routing Strategy":{"displayName":"Routing Strategy","identifiesControllerService":false,"name":"Routing Strategy","sensitive":false},"upsert":{"displayName":"upsert","identifiesControllerService":false,"name":"upsert","sensitive":false},"delete":{"displayName":"delete","identifiesControllerService":false,"name":"delete","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":["success"],"bulletinLevel":"ERROR","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"0e714b66-a50d-3fd1-8fe8-2da4f13355f1","name":"LogAttributeFailure","penaltyDuration":"30 sec","position":{"x":2251.000021905302,"y":1382.0000057331265},"properties":{"Log prefix":"[${log.prefix}.${responseKey}.FailureAttribute]","character-set":"UTF-8","Log Level":"error","attributes-to-log-regex":".*","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"displayName":"Log prefix","identifiesControllerService":false,"name":"Log prefix","sensitive":false},"character-set":{"displayName":"Character Set","identifiesControllerService":false,"name":"character-set","sensitive":false},"Log Level":{"displayName":"Log Level","identifiesControllerService":false,"name":"Log Level","sensitive":false},"attributes-to-ignore-regex":{"displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"name":"attributes-to-ignore-regex","sensitive":false},"Attributes to Ignore":{"displayName":"Attributes to Ignore","identifiesControllerService":false,"name":"Attributes to Ignore","sensitive":false},"Attributes to Log":{"displayName":"Attributes to Log","identifiesControllerService":false,"name":"Attributes to Log","sensitive":false},"attributes-to-log-regex":{"displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"name":"attributes-to-log-regex","sensitive":false},"Log Payload":{"displayName":"Log Payload","identifiesControllerService":false,"name":"Log Payload","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","yieldDuration":"1 sec"},{"autoTerminatedRelationships":[],"bulletinLevel":"WARN","bundle":{"artifact":"nifi-standard-nar","group":"org.apache.nifi","version":"1.12.1"},"comments":"","componentType":"PROCESSOR","concurrentlySchedulableTaskCount":1,"executionNode":"ALL","groupIdentifier":"db71712c-ae8b-37c5-9a2e-0656daca82ca","identifier":"a523dfe4-2260-37d0-8393-407d426e6c1c","name":"Extract ID","penaltyDuration":"30 sec","position":{"x":1251.0000219053022,"y":870.0000057331265},"properties":{"Destination":"flowfile-attribute","itemId":"$.key","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"displayName":"Destination","identifiesControllerService":false,"name":"Destination","sensitive":false},"itemId":{"displayName":"itemId","identifiesControllerService":false,"name":"itemId","sensitive":false},"Return Type":{"displayName":"Return Type","identifiesControllerService":false,"name":"Return Type","sensitive":false},"Null Value Representation":{"displayName":"Null Value Representation","identifiesControllerService":false,"name":"Null Value Representation","sensitive":false},"Path Not Found Behavior":{"displayName":"Path Not Found Behavior","identifiesControllerService":false,"name":"Path Not Found Behavior","sensitive":false}},"runDurationMillis":0,"scheduledState":"ENABLED","schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","yieldDuration":"1 sec"}],"remoteProcessGroups":[],"variables":{}},"flowEncodingVersion":"1.0","parameterContexts":{},"snapshotMetadata":{"author":"david.lamas@ctw.bmwgroup.com","comments":"Fix cache controller service bug","timestamp":1642595021852,"version":3}}